<section class="about">
  <nav>
    <ul class="nav nav-pills">
      <%
      _.each({
      'main': 'About',
      'api': 'API',
      'syntax': 'Syntax',
      'feedback': 'Feedback',
      }, function (title, t) {
      %>
      <li class="<%- tab == t ? 'active' : '' %>">
        <a href="#" data-about-tab="<%- t %>">
          <%- title %>
        </a>
      </li>
      <% }) %>
    </ul>
  </nav>
  <article class="well about-inner">
    <div class="about-sv"></div>
  </article>
</section>
