<article class="comment comment-type-<%- type %>">
  <aside>
    <%= partial.upic_small({ login: author }) %>
  </aside>

  <div class="comment-inner">
    <% if (my && type == 'text') { %>
      <div class="comment-edit-tools">
        <%= partial.edit_tools({ remove: true }) %>
      </div>
    <% } %>
    <header class="object-top-line">
      <%= partial.user({ realm: realm, login: author }) %>
    </header>

    <div class="<% type == 'text' ? 'widetext' : '' %> comment-content">
      <% if (type == 'text') { %>
        <%= partial.markdown(body, realm) %>
      <% } else { %>
        <div class="comment-content-special">
        <% if (type == 'close') { %>
          <i class="icon-check"></i>
          <div>
            Quest completed.
            <div class="comment-content-reward">
              <%= partial.reward_list({ quest: object, partial: partial }) %>
            </div>
          </div>
        <% } else if (type == 'reopen') { %>
          <i class="icon-backward"></i>
          <div>
            Quest reopened.
          </div>
        <% } else if (type == 'abandon') { %>
          <i class="icon-eject"></i>
          <div>
            Quest abandoned.
          </div>
        <% } else if (type == 'resurrect') { %>
          <i class="icon-play"></i>
          <div>
            Quest resurrected.
          </div>
        <% } else if (type == 'leave') { %>
          <i class="icon-signout"></i>
          <div>
            Leaving the quest.
          </div>
        <% } else if (type == 'join') { %>
          <i class="icon-signin"></i>
          <div>
            Joining the quest.
          </div>
        <% } else if (type == 'invite') { %>
          <i class="icon-group"></i>
          <div>
            Invited:
            <%= partial.user({ realm: realm, login: invitee }) %>
          </div>
        <% } else { %>
          <i class="icon-question"></i>
          <div>
            Unknown comment type! Please report this bug.
          </div>
        <% } %>
        </div>
      <% } %>
    </div>
    <% if (my && type == 'text') { %>
      <div class="comment-edit"></div>
    <% } %>
    <footer class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>

      <% if (currentUser) { %>
      <span class="muted">&bull;
        <a href="#" class="comment-reply-link">Reply</a>
      </span>
      <% } %>

      <span class="likes"></span>

      <div class="comment-edit-buttons">
        <button class="btn btn-mini comment-edit-button-cancel">Cancel</button>
        <button class="btn btn-mini btn-primary comment-edit-button-save">Save</button>
      </div>
    </footer>
  </div>
</article>
