<article class="comment comment-type-<%- type %>">
  <aside>
    <%= partial.upic_small({ login: author }) %>
  </aside>

  <div class="comment-inner">
    <% if (my && type == 'text') { %>
      <div class="comment-edit-tools">
        <%= partial.edit_tools({ remove: true }) %>
      </div>
    <% } %>
    <header class="object-top-line">
      <%= partial.user({ realm: realm, login: author }) %>
    </header>

    <div class="<% type == 'text' ? 'widetext' : '' %> comment-content">
      <% if (type == 'text') { %>
        <%= partial.markdown(body, realm) %>
      <% } else { %>
        <div class="comment-content-special">
        <% if (type == 'close') { %>
          <i class="icon-check"></i>
          Quest completed.

          <div class="comment-content-reward">
            <%= partial.reward_list({ quest: object, partial: partial }) %>
          </div>
        <% } else if (type == 'reopen') { %>
          <i class="icon-backward"></i>
          Quest reopened.
        <% } else if (type == 'abandon') { %>
          <i class="icon-eject"></i>
          Quest abandoned.
        <% } else if (type == 'resurrect') { %>
          <i class="icon-play"></i>
          Quest resurrected.
        <% } else if (type == 'leave') { %>
          <i class="icon-signout"></i>
          Leaving the quest.
        <% } else if (type == 'join') { %>
          <i class="icon-signin"></i>
          Joining the quest.
        <% } else if (type == 'invite') { %>
          <i class="icon-group"></i>
          Invited:
          <%= partial.user({ realm: realm, login: invitee }) %>
        <% } else { %>
          Unknown comment type! Please report this bug.
        <% } %>
        </div>
      <% } %>
    </div>
    <% if (my && type == 'text') { %>
      <div class="comment-edit"></div>
    <% } %>
    <footer class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
      <span class="likes"></span>

      <% if (currentUser) { %>
      <span class="muted comment-interact">&bull;
        <% console.log(obj.commentBox) %>
        <% if (commentBox) { %>
          <a href="#" class="comment-reply-link">
        <% } else { %>
          <a href="/realm/<%- realm %>/<%- object.entity %>/<%- object._id %>/reply/<%- author %>">
        <% } %>
          Reply
        </a>
      </span>
      <% } %>

      <div class="comment-edit-buttons">
        <button class="btn btn-mini comment-edit-button-cancel">Cancel</button>
        <button class="btn btn-mini btn-primary comment-edit-button-save">Save</button>
      </div>
    </footer>
  </div>
</article>
