<!-- current user widget from right-top corner -->
<% if (obj.notifications && obj.notifications.length) { %>
  <span class="pull-left current-user-notifications-icon"><a href="#" class="notifications"><i class="icon-envelope-alt icon-large"></i></a></span>
<% } %>
<ul class="nav">
  <li class="dropdown">
    <% if (registered === 1) { %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= login %></a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" class="settings">Settings</a>
          <a href="#" class="logout">Logout</a>
        </li>
      </ul>
    <% } else { %>
      <!-- TODO: refactor to use views/user/signin.js -->
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-signin"></i> Sign In</a>
      <ul class="dropdown-menu">
        <li>
          <a href="/auth/twitter">with Twitter</i></a>
          <a href="#" class="login-with-persona">with Email</a>
        </li>
      </ul>
    <% } %>
  </li>
</ul>
