<div class="progress-subview"></div>
<div class="quest-collection-inner">

  <div class="sidebar">
    <header class="sidebar-header">
      <span class="js-quest-collection-header-count"><%- length %></span> <%- caption %> quests
    </header>
    <div class="well quest-filter">
      <label class="checkbox">
        <input class="show-tags" type="checkbox" <%- viewMode == 'dense' ? '' : 'checked' %>>
        Show tags
      </label>
    </div>
    <div class="order-progress-subview"></div>
  </div>

  <div class="mainarea quests"></div>

</div>
