<!-- events list -->
<div class="row-fluid events-list hide">
  <div class="span3">
    <div class="well well-small">
      <p>
      Everything that happens goes in here.
      <p>
      <a href="/api/event/atom" class="btn btn-warning"><i class="icon-rss"></i> RSS</a>
      </p>
    </div>
    <div class="well well-small">
      <p>
      Filter
      </p>
        <% _.each( filterList, function(i) { %>
        <label class="checkbox">
            <input type="checkbox" class="filter" <%= i.status %> value="<%= i.value %>"/> <%= i.description %><br/>
        </label>
        <% }); %>
    </div>
  </div>
  <div class="span9">
    <button class="show-more btn btn-primary">Show more</button>
    <span class="progress-spin"></span>
  </div>
</div>
