<aside class="sidebar">
  <% if (tag) { %>
  <div class="_filter">
    <span class="muted">Filter:</span>
    <span class="tag"><%= tag %></span>
    <a href="#" class="remove-filter mini-button"><i class="icon-remove"></i></a>
  </div>
  <% } else { %>
  <div class="well">
    <p>
    The entire collection of quests lies before you.
    <p>
    Upvote the stuff you like, comment on the quests you don't understand, and poke those who promised to do something and then forgot.
    </p>
  </div>
  <% } %>
</aside>

<div class="mainarea">
  <ul class="nav nav-pills explore-nav">
      <li><a href="#" data-explore-tab="latest">Latest</a></li>
      <li><a href="#" data-explore-tab="unclaimed">Unclaimed</a></li>
      <li><a href="#" data-explore-tab="open">Best open</a></li>
      <li><a href="#" data-explore-tab="closed">Best completed</a></li>
      <% if (currentUser) { %>
      <li><a href="#" data-explore-tab="watched-by-me">Watched by me</a></li>
      <% } %>
  </ul>
  <div>
    <div class="explore-tab-content"></div>
  </div>
</div>
