<!-- landing page -->
<div class="container-fluid hero-unit">
  <h1><%= partial.settings.service_name %></h1>

  <% if (partial.settings.instance_name == 'play-perl') { %>
  <h2>What&apos;s going on here?</h2>
  <p>
  <ol>
      <li>This is your public to-do list.</li>
      <li>This is a gamified platform for connecting and encouraging people.</li>
      <li>This is a social network for Perl developers.</li>
      <li>This is a place to gather and provide feedback on the stuff you did and on the stuff you&apos;re going to do.</li>
      <li>Finally, you can get game points here!</li>
  </ol>
  </p>
  <% } else { %>
  <h2 class="muted">Что тут происходит?</h2>
  <p>
  Это туду-лист с социалочкой и лайками.
  <p>
  Вы пишете свои вишлисты, тудулисты, стратегические и тактические, на день, на год, на жизнь или на 10 минут. Вы приглашаете друзей — в это интереснее начинать играть со знакомыми. К тому же, им наверняка интересно, что вы хотите сделать, выучить, получить в подарок и так далее. 
  <p>
  Люди смотрят на ваши задачи и иногда лайкают их.<br>(За лайки вы получаете поинты, и за завершение задач - тоже. Но лайки все равно, конечно, гораздо круче сами по себе.)
  <p>
  Осторожно: пока что все задачи публичны и доступны в <a href="/feed">едином фиде</a>, а также на вашей странице.
  <p>
  В общем, теперь вы знаете все самое главное. Дальше - идите и пробуйте!
  <br> <br>
  <% } %>
  <p>
  <% if (registered) { %>
    <a href="/" class="btn btn-large btn-primary">Go to your profile</a>
  <% } else { %>
    <strong>Sign in:</strong>
    <span class="signin"></span>
  <% } %>
  </p>
</div>
