<% if (obj.list.length || !my) { %>
    <% if (currentUser && !my) { %>
      <% if (meGusta) { %>
        <a class="pull-self" href="#">
      <% } else { %>
        <a class="push-self" href="#">
      <% } %>
    <% } %>

    <span class="like-button <%- (obj.meGusta || my) ? 'like-button-liked' : '' %>" data-toggle="tooltip" title="<%= list.slice(0, 10).join(', ') %><%= (list.length <= 10) ? '' : ' and ' + (list.length - 10) + ' more' %>">
      <i class="<%- (obj.meGusta || my) ? 'icon-thumbs-up' : 'icon-thumbs-up-alt' %>"></i>
      <%= list.length %>
  </span>

    <% if (currentUser && !my) { %>
      </a>
    <% } %>
<% } %>
