<% if (tour) { %>
<aside class="newbie-tour">
  <h3>Here you can see all activity from realms and people you followed earlier.</h3>
  <h4>Don't hesitate to interact with other players, they probably posted their quests because they want to share :)</h4>
</aside>
<% } %>

<aside class="sidebar">
  <header class="sidebar-header">
    <i class="icon-question-sign" data-toggle="tooltip" title='Your personal news feed. Follow more realms or players to see more news.'></i>
    <a href="http://<%= window.location.host %>/api/event/atom?for=<%- login %>" class="btn btn-mini btn-rss"><i class="icon-rss"></i> RSS</a>
    News feed
  </header>

  <ul class="nav nav-pills news-feed-tabs">
    <%
    _.each({
      'default': { title: 'Players and realms' },
      'users': { title: 'Players' },
      'realms': { title: 'Realms' },
      'watched': { title: 'Watched quests' },
      'global': { title: 'Everything' }
    }, function (o, tab) {
    %>
    <li>
      <a href="#" data-tab="<%- tab %>">
        <%- o.title %>
      </a>
    </li>
    <% }) %>
  </ul>
  <!--
  <section class="well">
    <p>
      Your personal news feed.
    <p>
      Follow more realms or players to see more news.
    <p>
    </p>
  </section>
  -->
</aside>

<div class="mainarea">
  <% if ( (!followingRealms || !followingRealms.length) && (!followingUsers || !followingUsers.length) ) { %>
    <aside class="alert alert-warning">
    <h3>
      You're not following any players or realms yet.<br>
      Go to <a href="/realms">Realms</a> tab and follow some realms.
    </h3>
    </aside>
  <% } %>

  <div class="main news-feed-sv"></div>
</div>
