<% if (tour) { %>
<aside class="newbie-tour">
  <h3>Here you can see all activity from realms and people you followed earlier.</h3>
  <h4>Don't hesitate to interact with other players, they probably posted their quests because they want to share :)</h4>
</aside>
<% } %>

<aside class="sidebar">
  <header class="sidebar-header">
    <a href="http://<%= window.location.host %>/api/event/atom?for=<%- login %>" class="btn btn-mini btn-warning"><i class="icon-rss"></i> RSS</a>
    News feed
  </header>
  <section class="well">
    <p>
      Your personal news feed.
    <p>
      Follow more realms or players to see more news.
    <p>
    </p>
  </section>
</aside>

<div class="mainarea">
  <% if ( (!followingRealms || !followingRealms.length) && (!followingUsers || !followingUsers.length) ) { %>
    <aside class="alert alert-warning">
    <h3>
      Your don't follow any players or topics yet.<br>
      Go to <a href="/realms">Realms</a> tab and follow some realms.
    </h3>
    </aside>
  <% } %>

  <div class="main subview"></div>
</div>
