<div class="container-fluid">
  <% if (tour) { %>
  <div class="newbie-tour">
    <h3>Here you can see all activity from realms you followed earlier.</h3>
    <h4>Don't hesitate to interact with other people, they probably posted their quests because they wanted to share :)</h4>
  </div>
  <% } %>
  <div class="row-fluid">
    <div class="span3">
      <div class="well well-small">
        <p>
        Your personal news feed.
        <p>
        <a href="http://<%= window.location.host %>/api/event/atom?for=<%- login %><%= (types && types.length) ? '&types=' + types.join(',') : '' %>" class="btn btn-warning"><i class="icon-rss"></i> RSS</a>
        </p>
      </div>
      <div class="accordion" id="event-filter-accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#event-filter-inner" class="accordion-toggle" data-toggle="collapse" data-parent="#event-filter-accordion">Filter by event type</a>
          </div>
          <div id="event-filter-inner" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="nav nav-pills nav-filter">
              <% _.each( filterList, function(i) { %>
              <li class="filter<%= _.contains(types, i.value) ? ' active' : '' %>" data-type="<%= i.value %>"><a href="#">
                  <%= i.description %>
              </a></li>
              <% }); %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span9">
      <% if (!followingRealms || !followingRealms.length) { %>
      <div class="alert alert-warning">
      <h3>
        Your news feed is empty.<br>
        Go to <a href="/realms">Multiverse</a> tab and follow some realms.
      </h3>
      </div>
      <% } %>
      <div class="main subview">
      </div>
    </div>
  </div>
</div>
