<div>
  <!-- avoiding extra spaces - we need to put an apostrophe after the user's login sometimes -->
  <script type="text/template" class="user"><% if (login) { %><a href="/player/<%- login %>" class="user-link"><%= login + (obj.colon ? ':' : '') %></a><% } %></script>

  <script type="text/template" class="upic-small"><a href="/player/<%- login %>"><img src="/api/user/<%- login %>/pic?s=small" alt="<%- login %>" title="<%- login %>" class="upic-small"/></a></script>
  <script type="text/template" class="upic-normal"><img src="/api/user/<%- login %>/pic?s=normal" class="upic-normal"/></script>

  <script type="text/template" class="likers">

    <% if (list && list.length) { %>
      <div class="likers">
        <% var meGusta = _.contains(list, currentUser); %>
        <% var topLikes = _.without(list, currentUser).slice(0, 3); %>
        <% var otherLikes = _.without(list, currentUser).slice(3); %>
        <span class="like-icon">
          <i class="<%- meGusta ? 'icon-thumbs-up' : 'icon-thumbs-up-alt' %>"></i>
        </span>

        Liked by
        <% if (meGusta) { %>you<% } %><!--
     --><% _.each(topLikes, function(t, index) { %><!--
       --><% if (index > 0 || meGusta) { %>, <% } %>
          <%= partial.user({login: t}) %><!--
     --><% }) %><!--
     --><% if (otherLikes.length) { %>
          and <%- otherLikes.length %> more<!--
     --><% } %>.
      </div>
    <% } %>
  </script>

  <script type="text/template" class="quest-labels">
    <span class="quest-tags">
    <% if (obj.showRealm) { %>
    <a href="/realm/<%- realm %>"  class="tag tag-realm"><%- realm %></a>
    <% } %>
    <% if (obj.tags) { %>
      <% _.each(obj.tags, function (tag) { %>
        <% var isTime = (tag.match(/^\d+[mhdw]$/)); %>
        <% var isSpecial = (tag.match(/^checkin$/)); %>
        <a href="/realm/<%- realm %>/explore/latest/tag/<%= tag %>" class="tag <%= (isTime ? 'tag-time' : isSpecial ? 'tag-special' : '') %>">
          <% if (isTime) { %>
            <i class="icon-time"></i>
          <% } %>
          <%= tag %>
        </a>
      <% }) %>
    <% } %>
    <% if (obj.showStatus) { %>
    <span class="label label-<%= status === 'open' && 'warning' %>"><%= status === 'closed' ? 'complete' : status %></span>
    <% } %>
    </span>
  </script>

  <script type="text/template" class="edit-tools">
    <div class="pull-right">
      <label> <!-- label fixes the font size, even inside h2 -->
        <a href="#" class="edit mini-button"><i class="icon-pencil"></i></a>
        <% if (obj && obj.remove) { %>
        <a href="#" class="delete mini-button"><i class="icon-remove"></i></a>
        <% } %>
      </label>
    </div>
  </script>

  <script type="text/template" class="quest-link">
    <a href="/realm/<%- realm %>/quest/<%- _id %>"><%- name %></a></script>

  <script type="text/template" class="watchers">
    <% if (obj.watchers && watchers.length) { %>
      <span class="badge badge-warning" data-toggle="tooltip" title="<%= watchers.slice(0, 10).join(', ') %><%= (watchers.length <= 10) ? '' : ' and ' + (watchers.length - 10) + ' more' %>">
        <i class="icon-eye-open"></i> <%= watchers.length %>
      </span>
    <% } %>
  </script>

  <script type="text/template" class="reward-list">
    <% _.each(quest.team, function (u) { %>
    <div>
      <%= partial.user({ login: u }) %>:
      <div class="reward-small">
        +<%- quest.points %>
      </div>
      point<%- (quest.likes && quest.likes.length) ? 's' : '' %>!
    </div>
    <% }) %>
  </script>
</div>
