<div class="<%= "quest-big-" + ext_status %> quest-big">

  <div>
    <% if (team.length == 0) { %>
      <%= partial.user({ login: obj.author }) %><span class="muted"> suggests a quest:</span>
    <% } else { %>
      <span class="muted">
      <%= _.map(team, function (member) { return partial.user({ login: member }); }).join(', ') %>
      <%= (team.length == 1 ? 'is' : 'are') %>
      on a quest<%= (_.first(team) == obj.author) ? '' : ' by ' + partial.user({ login: obj.author }) %>:</span>
      <% if (my) { %>
        <%= partial.edit_tools() %>
      <% } %>
    <% } %>
  </div>

  <div class="quest-big-labels">
    <span class="muted quest-big-tags-edit control-group" style="display: none">
      <input class="quest-big-tags-input" type="text" data-placement="top" data-title="tags must be alphanumerical" data-animation="false" data-trigger="manual">
    </span>
    <%= partial.quest_labels(obj) %>
  </div>

  <h2>
    <span class="quest-title"><%- name %></span>
    <% if (my) { %>
      <span class="control-group">
        <input class="quest-edit" type="text" style="display: none">
      </span>
    <% } %>
  </h2>

  <div>
  <% if (team.length == 0) { %>
    <span class="muted">This quest is not claimed by anybody. Would you like to take it?</span>
    <button class="quest-join btn btn-primary">Take</button>
  <% } %>
  </div>

  <div class="watchers"></div>
  <div class="likes"></div>

</div>
