<% if (list && list.length) { %>
<span class="badge badge-warning" data-toggle="tooltip" title="<%= list.slice(0, 10).join(', ') %><%= (list.length <= 10) ? '' : ' and ' + (list.length - 10) + ' more' %>">
  <i class="icon-eye-open"></i> <%= list.length %>
</span>
<% } %>

<% if (currentUser && !my) { %>
<span class="push-pull-button">
  <% if (meGusta) { %>
    <button class="btn btn-mini pull-self" type="button">Unwatch</button>
  <% } else { %>
    <button class="btn btn-mini btn-primary push-self" type="button">Watch</button>
  <% } %>
</span>
<% } %>
