<td>
  <% if (obj.showAuthor) { %>
    <%= partial.user({ realm: realm, login: _.first(team), colon: true }) %>
  <% } %>
  <span class="pull-right">
    <span class="likes"></span>
  </span>

  <%= partial.quest_link(obj) %>

  <br>
  <span>
    <%= partial.quest_labels(obj) %>&nbsp;

    <span class="pull-right">
      <% if (obj.comment_count) { %>
        <a href="/realm/<%- realm %>/quest/<%= _id %>"><span class="badge badge-info"><i class="icon-comment"></i> <%= comment_count %></span></a>
      <% } %>
    </span>
  </span>

</td>
