<!-- quest details page -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <div class="quest-big"></div>
      <div class="comments"></div>
    </div>
    <div class="span2">
      <div class="reward-block">
        <div class="muted">
          <% if (status == 'open') { %>
            Expected reward:
          <% } else { %>
            Reward:
          <% } %>
        </div>
      <div class="reward-circle">
        <span class="points"><%- 1 + (obj.likes ? obj.likes.length : 0) %></span>
        <span class="points-text">points</span>
      </div>
    </div>
  </div>
</div>
