<div class="realm-page">
  <h2>
    <img src="/i/<%- id %>.png"/>
    <%- name %>
  </h2>
  <hr>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well well-small">
          <p>
            <%= partial.markdown(description) %>
          </p>
          <div class="realm-controls-subview"></div>
          <a href="http://<%= window.location.host %>/api/event/atom?realm=<%- id %>" class="btn btn-warning realm-rss-button"><i class="icon-rss"></i> RSS</a>
        </div>
      </div>
      <div class="span9">
        <div class="main subview">
        </div>
      </div>
    </div>
  </div>
</div>
