<div class="container-fluid">
  <% if (tour) { %>
  <div class="newbie-tour">
    <h2>Welcome aboard!</h2>
    <h3>
      First, choose any number of realms you're interested in.
    </h3>
    <h4>
      (You can always find this list under the "Multiverse" tab.)
    </h4>
  </div>
  <% } %>
  <div class="row-fluid">
    <div class="span3">
      <div class="well well-small">
        <p>
        Questhub activity happens across multiple realms.
        </p>
        <p>
        You can participate in any number of them.
        </p>
      </div>
    </div>
    <div class="span9">
      <div class="realm-detail-collection-list">
      </div>
    </div>
  </div>
  <% if (tour) { %>
  <div class="newbie-tour">
    <h3>
      Now let's <a href="/me">take a look at your profile</a>...
    </h3>
  </div>
  <% } %>
</div>
