<!-- registration form -->
<div class="row-fluid register well">
  <div class="register-header">
    <h2>Welcome to the <%= partial.settings.service_name %><% if (obj.twitter) { %>, <span class="twitter-login"><i class="icon-twitter"></i> <%= twitter.screen_name %></span class="twitter-login"><% } %>!
    </h2>
    <h3>What would you like to be called?</h3>
  </div>
  <div></div>
  <div class="register-form">
    <div class="control-group login-form">
      <label class="settings-conflict-login alert alert-error">Sorry, this login is already taken.</label>
      <input name="login" type="text" maxlength="16" placeholder="Login">
    </div>

    <% if (obj.settings && obj.settings.email_confirmed == 'persona') { %>
      <h4><%- obj.settings.email || 'oops, internal logic error' %>
      <span class="label label-success">Persona</span>
      </h4>
    <% } else { %>
      <div class="control-group">
        <label class="settings-conflict-email alert alert-error">Email is already in use.</label>
        <input name="email" type="email" placeholder="Email">
      </div>
    <% } %>

    <div class="register-checkboxes">
      <label class="checkbox">
          <input name="notify" type="checkbox" checked>Notify about likes, comments, etc.
      </label>
      <label class="checkbox">
        <input name="newsletter" type="checkbox" checked>Subscribe to the newsletter<br><span class="muted">(approximately once per few weeks)</span>
      </label>
    </div>

    <div class="buttons">
    <button class="btn btn-primary btn-large submit">Register</button>
    <button class="btn btn-large cancel">Cancel</button>
    </div>
    <p>
    <div class="progress-subview"></div>
    </p>
  </div>
</div>
