<!-- registration form -->
<div class="row-fluid register">
  <div class="span8 offset2">
    <h2>Welcome to the <%= partial.settings.service_name %><% if (obj.twitter) { %>, <span class="twitter-login"><i class="icon-twitter"></i> <%= twitter.screen_name %></span class="twitter-login"><% } %>!
    </h2>
    <h3>One final step before you can join your fellow hackers...</h3>
    <div class="registration-form">
      <div class="control-group login">
        <input name="login" type="text" placeholder="Login (required)">
      </div>

      <div class="settings-subview"></div>

      <div class="realm-picker-subview"></div>

      <button class="btn btn-primary btn-large submit">Register</button>
      <p>
      <!-- TODO - grap striped-button bootstrap addon from the web? -->
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%"></div>
      </div>
      </p>
    </div>
  </div>
</div>
