<!-- registration form -->
<div class="row-fluid register">
  <div class="span8 offset2">
    <h2>Welcome to the <%= partial.settings.service_name %><% if (obj.twitter) { %>, <span class="twitter-login"><i class="icon-twitter"></i> <%= twitter.screen_name %></span class="twitter-login"><% } %>!
    </h2>
    <h3>One final step before you can join your fellow hackers...</h3>
    <div class="registration-form">
      <div class="control-group login">
        <input name="login" type="text" placeholder="Login">
        <span class="settings-conflict-login alert alert-error">&larr; Sorry, this login is already taken.</label>
      </div>

      <div class="settings-subview"></div>

      <hr>
      <h3>Choose a realm:</h3>
      <div class="realm-picker-subview"></div>
      <div class="muted small">(you can always join other realms later)</div>

      <div class="buttons">
      <button class="btn btn-primary btn-large submit">Register</button>
      <button class="btn btn-large cancel">Cancel</button>
      </div>
      <p>
      <div class="progress-subview"></div>
      </p>
    </div>
  </div>
</div>
