<div class="well user-big">
  <div class="user-big-avatar">
    <img src="<%- pic.normal %>" width="48" height="48"/>
  </div>
  <div class="user-big-names">
    <div>
      <span class="user-big-player-login"><%= login %></span>
    </div>
    <% if (obj.twitter) {
      if (twitter.screen_name) { %>
        <i class="icon-twitter"></i>
        <a href="https://twitter.com/<%= twitter.screen_name %>">
          @<%= twitter.screen_name %>
        </a>
    <% } } %>
  </div>

  <div class="user-big-tabs">
    <ul>
      <li>
        <div data-tab="quests" class="_icon _switch-quests">
          <i class="icon-list-ul"></i>
        </div>
      </li>
      <li>
        <div data-tab="activity" class="_icon _switch-activity">
          <i class="icon-film"></i>
        </div>
      </li>
      <li>
        <div data-tab="profile" class="_icon _switch-profile">
          <i class="icon-user"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
