<div class="well user-big">
  <div class="user-big-avatar">
    <img src="<%- pic.normal %>" width="48" height="48"/>
  </div>
  <div class="user-big-names">
    <div>
      <span class="user-big-player-login"><%= login %></span>
      <% if (my) { %>
          <span class="mini-button"><a href="#" class="settings mini-button"><i class="icon-wrench"></i></a></span>
      <% } %>
    </div>
    <% if (obj.twitter) {
      if (twitter.screen_name) { %>
        <i class="icon-twitter"></i>
        <a href="https://twitter.com/<%= twitter.screen_name %>">
          @<%= twitter.screen_name %>
        </a>
    <% } } %>
  </div>

  <div class="user-big-points">
    <% if (obj.rp && _.size(obj.rp)) { %>
      <ul>
      <% _.each(rp, function (points, realm) { %>
        <li>
          <a class="badge badge-info" href="/realm/<%- realm %>/players">
            <%- realm %>:
            <%- points %>
          </a>
        </li>
      <% }) %>
      </ul>
      <i class="icon-question-sign" data-toggle="tooltip" title='points are granted for each completed quest and each "like" on those quests'></i>
    <% } %>
  </div>

  <div class="user-big-tabs">
    <ul>
      <li>
        <div data-tab="quests" class="_icon _switch-quests">
          <i class="icon-list-ul"></i>
        </div>
      </li>
      <li>
        <div data-tab="activity" class="_icon _switch-activity">
          <i class="icon-film"></i>
        </div>
      </li>
      <li>
        <div data-tab="profile" class="_icon _switch-profile">
          <i class="icon-star"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
