<div class="well">
  <% if (obj.twitter && obj.twitter.screen_name) { %>
    <img src="http://api.twitter.com/1/users/profile_image?screen_name=<%= twitter.screen_name %>&size=bigger" width="73" height="73"/>
  <% } else if (obj.image) { %>
    <img src="<%- image %>?s=73" width="73" height="73"/>
  <% } %>
  <h4>
    <%= login %>
    <% if (my) { %>
        <span class="mini-button"><a href="#" class="settings mini-button"><i class="icon-wrench"></i></a></span>
    <% } %>
    <span class="badge badge-info" data-toggle="tooltip" title='points are granted for each completed quest and each "like" on those quests'><%= rp[realm] %></span>
  </h4>
  <% if (obj.twitter) {
    if (twitter.screen_name) { %>
      <i class="icon-twitter"></i>
      <a href="https://twitter.com/<%= twitter.screen_name %>">
        @<%= twitter.screen_name %>
      </a>
  <% } } %>
</div>
