<!-- landing page -->
<div class="welcome">
  <div class="welcome-header">
    <h1 class="brand">Questhub</h1>
    <h2>Share your quests.</h2>
  </div>

  <div class="welcome-signin">
    <% if (registered) { %>
      <a href="/" class="btn btn-large btn-primary">Go to your profile</a>
    <% } else { %>
      <span class="signin"></span>
    <% } %>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6 well welcome-block">

        <div class="welcome-block-header">
          <h3>Do stuff</h3>
          <i class="icon-check"></i>
        </div>
        <div class="welcome-block-text">
          <p>
          Publish your tasks as quests, sort them, prioritize them, do them.
          </p>
          <p>
          Basically, Questhub is your free public task tracker.
          </p>
        </div>

      </div>
      <div class="span6 well welcome-block">

        <div class="welcome-block-header">
          <h3>Have fun</h3>
          <i class="icon-puzzle-piece"></i>
        </div>
        <div class="welcome-block-text">
          <p>
          Complete a quest and get points.<br>
          The more interesting is your quest, the people will upvote it, and the more points you will get.
          </p>
        </div>

      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 well welcome-block">

        <div class="welcome-block-header">
          <h3>Choose</h3>
          <i class="icon-book"></i>
        </div>
        <div class="welcome-block-text">
          <p>
          Choose your journey from libraries of pre-scripted quests, or invent your own unique quests.
          </p>
        </div>

      </div>
      <div class="span6 well welcome-block">

        <div class="welcome-block-header">
          <h3>Connect</h3>
          <i class="icon-rss"></i>
        </div>
        <div class="welcome-block-text">
          <p>
          Follow your friends or entire realms.<br>
          See how their story unwinds.
          </p>
        </div>

      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 well welcome-block">

        <div class="welcome-block-header">
          <h3>Encourage</h3>
          <i class="icon-thumbs-up"></i>
        </div>
        <div class="welcome-block-text">
          <p>
          Upvote other people's quests, and they will become more motivated. They might upvote you in return.
          </p>
        </div>

      </div>
      <div class="span6 well welcome-block">

        <div class="welcome-block-header">
          <h3>Team up</h3>
          <i class="icon-group"></i>
        </div>
        <div class="welcome-block-text">
          <p>
          Invite your friends to join you on your quests. Or find some stranger whose task you like and join them.
          </p>
        </div>

      </div>

    </div>
  </div>
</div>
