<!-- landing page -->
<section class="welcome">
  <header class="welcome-header">
    <h1 class="brand">Questhub</h1>
    <h2>Share your quests.</h2>
  </header>

  <section class="welcome-signin">
    <% if (registered) { %>
      <a href="/me" class="btn btn-large btn-primary">Go to your profile</a>
    <% } else { %>
      <span class="signin"></span>
    <% } %>
  </section>

  <div class="welcome-row">

    <section class="welcome-block well">
      <header>
        <h3>Do stuff</h3>
        <i class="icon-check"></i>
      </header>
      <div class="welcome-block-text">
        <p>
        Publish your tasks as quests, sort them, prioritize them, do them.
        </p>
        <p>
        Questhub is your public task tracker.
        </p>
      </div>
    </section>

    <section class="welcome-block well">
      <header>
        <h3>Have fun</h3>
        <i class="icon-puzzle-piece"></i>
      </header>
      <div class="welcome-block-text">
        <p>
        Complete a quest and get points.
        </p>
        <p>
        The more interesting is your quest, the more people will upvote it, and the more points you will get.
        </p>
      </div>
    </section>

  </div>

  <div class="welcome-row">

    <section class="welcome-block well">
      <header>
        <h3>Choose</h3>
        <i class="icon-book"></i>
      </header>
      <div class="welcome-block-text">
        <p>
        Choose your journey from libraries of pre-scripted quests, or invent your own unique quests.
        </p>
      </div>
    </section>

    <section class="welcome-block well">
      <header>
        <h3>Connect</h3>
        <i class="icon-rss"></i>
      </header>
      <div class="welcome-block-text">
        <p>
        Follow your friends or entire realms.
        </p>
        <p>
        See how their story unfolds.
        </p>
      </div>
    </section>

  </div>

  <div class="welcome-row">

    <section class="welcome-block well">
      <header>
        <h3>Encourage</h3>
        <i class="icon-thumbs-up"></i>
      </header>
      <div class="welcome-block-text">
        <p>
        Upvote other people's quests, and they will become more motivated. They might upvote you in return.
        </p>
      </div>
    </section>

    <section class="welcome-block well">
      <header>
        <h3>Team up</h3>
        <i class="icon-group"></i>
      </header>
      <div class="welcome-block-text">
        <p>
        Invite your friends to join you on your quests. Or find some stranger whose task you like and join them.
        </p>
      </div>
    </section>

  </div>

  <section class="well welcome-realms">
    <div class="realms-subview"></div>
  </section>

</section>
