.about {
    max-width: 650px;
    margin: 0 auto;
    blockquote {
        margin-top: 5px;
        margin-bottom: 15px;
    }
}

.about-inner {
    @include breakpoint(B) {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    h2 {
        font-weight: normal;
    }

    dt {
        margin-bottom: 14px;
    }
    dd {
        margin-bottom: 20px;
    }
}
