// wrapper from comments-page
.comments {
    margin-top: 10px;
}

textarea.comment-edit {
    width: 95%;
    height: 100%;
}

.comment-type-close {
    @include mark($closed-quest-color);
}

.comment-type-reopen {
    @include mark($open-quest-color);
}

.comment-type-abandon {
    @include mark($abandoned-quest-color);
}

.comment-type-join {
    @include mark($join-color);
}

.comment-type-invite {
    @include mark($invite-color);
}

.comment-type-leave {
    @include mark($abandoned-quest-color);
}

.comment-type-resurrect {
    @include mark(white);
}

.comment-edit-buttons {
    display: none;
    float: right;
}
