$open-quest-color: hsl(35, 85%, 75%);
$closed-quest-color: hsl(200, 65%, 75%);
$abandoned-quest-color: #dddddd;
$unclaimed-quest-color: hsl(120, 65%, 75%);
$mat: white;
$grey: #eee;
$dark-grey: #999; // same as bootstrap's .muted color
$text-color: #333;
$highlight: hsl(45, 100%, 50%);
$like-color: hsl(120, 30%, 40%);
$ground-color: #f5f5f5;

body { background-color: $ground-color }

.brand {
    font-family: doppio-one, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
    font-weight: 200;
}

.label, .badge {
    font-weight: normal;
}

// pagers
.show-more-or-progress {
    // trying to reduce the page jerkiness
    height: 60px;
}
tbody tr.show-more > td {
    cursor: pointer;
    background-color: lighten($unclaimed-quest-color, 10%);
    a {
        color: $text-color;
    }
    border-top: $text-color dashed 1px;
}

.twitter-share-button {
    vertical-align: middle;
}

time.timeago {
    color: $dark-grey;
    font-style: italic;
}

a.mini-button {
    color: $dark-grey;

    &:hover {
        text-decoration: none !important;
        color: $text-color;
    }
}

.user-link {
    font-weight: bold;
    color: $text-color;
}

.desktop-text {
    display: none;
    @include breakpoint(B) {
        display: inline;
    }
}

.mobile-text {
    display: inline;
    @include breakpoint(B) {
        display: none;
    }
}

.desktop-inline-block {
    display: none;
    @include breakpoint(B) {
        display: inline-block;
    }
}

.mobile-inline-block {
    display: inline-block;
    @include breakpoint(B) {
        display: none;
    }
}

.widetext {
    overflow: auto;
}

.icon-twitter {
    color: #4099ff;
}

.object-bottom-line {
    time, .user-link {
        font-size: 11.844px; // same as badges font size
    }
}

.signin {
    line-height: 60px;
    button {
        width: 220px;
    }
}

td {
    background-color: $mat;

    &:hover {
        background-color: $mat;
    }
}

.sidebar-header {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 200;
    text-align: right;
    margin-bottom: 20px;
    color: $dark-grey;
}

.grey-icon-link {
    color: $dark-grey;
    &:hover {
        text-decoration: none;
        color: $text-color;
    }
}
