.event-collection {

    @media (min-width: 768px) {
        padding-left: 20px;
    }

    .event-box-view {
        position: relative;

        .event-box-realm-label {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }

    .event-header {
        position: relative;
        font-size: 11.844px;
        color: $dark-grey;

        i {
            color: $dark-grey;
            @include breakpoint(B) {
                display: inline-block;
                position: absolute;

                left: -38px;
                top: -3px;
                font-size: 20px;
            }
        }
    }

    .event-well {
        p:last-child, ul:last-child {
            margin-bottom: 0px;
        }
    }

    .event-quest-reward {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .widetext {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.event-type-add-quest {
    @include mark($open-quest-color);
}
.event-type-add-stencil {
    @include mark($red-color);
}
