@mixin breakpoint($point) {
    @if $point == A {
        @media (min-width: 481px) { @content; }
    }
    @if $point == B {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == C {
        @media (min-width: 980px) { @content; }
    }
    @else if $point == D {
        @media (min-width: 1200px)  { @content; }
    }
    @else if $point == lessThanB {
        @media (max-width: 767px)  { @content; }
    }
    @else if $point == lessThanA {
        @media (max-width: 480px)  { @content; }
    }
}

@mixin box-sizing($bs) {
    box-sizing: $bs;
    -moz-box-sizing: $bs;
    -webkit-box-sizing: $bs;
}

@mixin border-radius($val) {
    border-radius: $val;
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
}

@mixin box-shadow($val) {
    box-shadow: $val;
    -moz-box-shadow: $val;
    -webkit-box-shadow: $val;
}

@mixin badge {
    line-height: 14px;
    font-size: 11.844px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
}

@mixin well {
    min-height: 20px;
    padding: 9px;
    margin-bottom: 12px;
    background-color: $mat;
    border: 1px solid darken($grey, 5%);
    @include border-radius(3px);
    @include box-shadow(0 0 4px 2px $grey);

    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }
}

@mixin opacity($opacity) {
    opacity: $opacity / 100;
    filter: alpha(opacity=#{$opacity})
}

@mixin mark($color) {
    background-color: $mat;
    border-left: 5px solid $color;
}

@mixin grey-link {
    color: $dark-grey;
    &:hover {
        text-decoration: none;
        color: $text-color;
    }
}

@mixin clearfix {
    &:before, &:after {
        display: table;
        content: "";
        clear: both;
    }
}
