@mixin breakpoint($point) {
    @if $point == B {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == C {
        @media (min-width: 980px) { @content; }
    }
    @else if $point == D {
        @media (min-width: 1200px)  { @content; }
    }
    @else if $point == lessThanB {
        @media (max-width: 767px)  { @content; }
    }
}

@mixin box-sizing($bs) {
    box-sizing: $bs;
    -moz-box-sizing: $bs;
    -webkit-box-sizing: $bs;
}
