nav.sticked {
    @include breakpoint(B) {
        @include box-shadow(0 5px 5px -5px $text-color);
    }
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;

    @include breakpoint(B) {
        .nav-inner {
            max-width: 980px;
            margin: 0 auto;
        }
    }

    background-color: $mat;
    border-bottom: 1px solid #ddd;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .nav-menu-separator {
        color: $dark-grey;
    }

    @mixin nav-underline($color) {
        border-bottom: {
            color: $color;
            width: 3px;
            style: solid;
        }
    }

    .top-nav > li {
        display: inline-block;
        margin: 0;

        > a {

            padding: 0 8px;
            @include breakpoint(C) {
                padding: 0 18px;
            }

            display: inline-block;
            line-height: 30px;
            color: $text-color;
            text-decoration: none;

            &:hover {
                color: $text-color;
                background-color: $grey;
                text-decoration: none;
                @include nav-underline($text-color);
            }
            @include nav-underline($mat);
        }

        &.active a {
            @include nav-underline($highlight);
        }
    }

    .top-nav {
        display: inline-block;
    }

    .current-user-box {
        float: right;
        .dropdown-menu {
            min-width: 0px;
            left: auto;
            right: 0;
        }
        .current-user-notifications-icon a {
            padding: 0 10px;
        }
    }

    .current-user-box {

        @include breakpoint(B) {
            .icon-cog {
                font-size: 15px;
            }
        }

        .current-user-notifications-icon {
            a, a:hover {
                color: #f00;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
