.newbie-tour-clear {
    clear: both;
    padding-top: 10px;
}

.newbie-tour {
    max-width: 700px;
    margin: 0px auto 20px;

    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    h4 {
        font-weight: 200;
        text-align: center;
    }
    padding: 10px;
    background-color: $mat;
    border: 1px solid darken($grey, 10%);
    @include box-shadow(0 5px 23px rgba(0, 0, 0, 0.2));
}

.newbie-tour-expect-quest {
    @include breakpoint(B) {
        margin-top: 80px;
    }
}
