// common styles for quest and stencil blocks
.post-realm {
    position: absolute;
    bottom: 3px;
    right: 7px;
    a {
        @include opacity(70);
        &:hover {
            @include opacity(100);
        }
        color: $text-color;
        &:hover {
            color: $text-color;
            text-decoration: none;
        }
    }
}

.post-big {
    @include well;
    @include clearfix;
    > aside {
        float: left;
    }
    .post-big-inner {
        margin-left: 32px;
    }
    .object-bottom-line {
        margin-top: 10px;
    }
}
.post-big-upic-box {
    margin-bottom: 3px;
}
.post-big-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 5px;
}

.post-feed-title {
    margin-bottom: 7px;

    font-size: 19px;
    line-height: 24px;
    font-weight: 200;
    a { color: $text-color; }
}

