// common styles for quest and stencil blocks

.post-realm {
    position: absolute;
    bottom: 3px;

    @include breakpoint(lessThanA) {
        left: 5px;
    }
    @include breakpoint(A) {
        right: 9px;
    }
}
.post-realm-link {
    @include opacity(70);
    &:hover {
        @include opacity(100);
    }
    color: $text-color;
    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}
.post-realm-name {
    @include breakpoint(lessThanA) {
        display: none;
    }
}

.post-big {
    @include well;
    @include clearfix;
    > aside {
        float: left;
    }
    .post-big-inner {
        margin-left: 32px;
    }
    .object-bottom-line {
        margin-top: 10px;
    }
}
.post-big-upic-box {
    margin-bottom: 3px;
}
.post-big-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 5px;
}

.post-feed-title {
    margin-bottom: 7px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    a { color: $text-color; }
}

.post-big-tags {
    margin-bottom: 4px;
}

.post-edit-controls {
    float: right;
}
