.quest-add-body label {
    cursor: default; // override bootstrap's "pointer" cursor style, it's confusing
}

textarea.quest-edit-description {
    @include box-sizing(border-box);
    width: 100%;
}

.quest-tags-edit input {
    background-color: lighten($open-quest-color, 20%);
}

.quest-add-realm {
    text-align: center;
    .btn-group {
        display: block;
        @include breakpoint(B) {
            display: inline-block;
        }
    }
    button {
        color: $dark-grey;
        font-size: 12px !important;
    }
    button.active {
        font-weight: bold;
    }
}

.quest-add-realm-reminder {
    margin-bottom: 5px;
    display: inline-block;
}
