.realm-collection > div {
    display: inline-block;
}

.realm-logo {
    margin: 0;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;

    img {
        margin: 10px;
        width: 80px;
        height: 80px;
    }
    .controls-subview {
        button {
            display: block;
            margin: 0 auto;
        }
    }
}

.realm-page {
    > h2 {
        text-align: center;
        img {
            display: inline-block;
            padding-right: 15px;
        }
    }
}

@import 'realm/detail';
@import 'realm/big';
