.realm-collection > div {
    display: inline-block;
}

.realm-logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    margin: 0 10px;
    cursor: pointer;
    padding: 10px;

    width: 110px;
    height: 110px;

    img {
        width: 80px;
        height: 80px;
    }
}

.realm-detail {
    position: relative;

    .realm-detail-logo {
        float: left;
        margin-bottom: 15px;
    }
    .realm-controls {
        button {
            display: block;
            margin: 0 auto;
        }
    }

    .realm-detail-link h3 {
        text-align: center;
        font-size: 22px;
    }

    .realm-detail-description {
        clear: both;
    }

    @include breakpoint(B) {
        .realm-detail-description {
            margin-right: 30px;
            clear: none;
        }
        .realm-detail-logo {
            margin-right: 30px;
        }
        .realm-detail-link h3 {
            margin-top: 10px;
            font-size: 24.5px; // normal h3 size
            text-align: left;
        }
    }
}

.realm-page {
    > h2 {
        text-align: center;
        img {
            display: inline-block;
            padding-right: 15px;
        }
    }

    .realm-controls {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
