.register {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

    @include breakpoint(B) {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 20px;
    }
}


.register-header {
    display: inline-block;

    @include breakpoint(lessThanB) {
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 18px;
        }
    }

    .twitter-login {
        white-space: nowrap;
    }
}

.register-form {
    display: inline-block;
    margin-top: 15px;

    .buttons {
        margin-top: 20px;

        button.cancel {
            margin-left: 10px;
        }
    }

    .settings-conflict-login, .settings-conflict-email {
        display: none;
    }
}

.register-checkboxes {
    text-align: left;
    margin-top: 15px;
}
