.user-settings {
    margin: 0 auto;
    max-width: 650px;

    .user-settings-well {
        @include breakpoint(B) {
            padding: 20px;
        }
    }

    .user-settings-email {
        margin-bottom: 20px;
    }
    .user-settings-checkboxes {
        margin-bottom: 15px;
    }

    .user-settings-newsletter {
        margin-bottom: 15px;
    }

    .user-settings-token {
        button.regenerate-token {
            margin-left: -5px;
            margin-top: 3px;
        }
        button.generate-token {
            position: relative;
            top: 3px; // fixing vertical line-up
        }
    }

    // insert a gap before "Not confirmed" button when it's under the email input
    input[name="email"], button {
        margin-bottom: 8px;
    }

    .notify-text {
        margin-bottom: 4px;
    }

    > header {
        text-align: center;
        @include bg-header;
    }

    .submit {
        float: right;
    }
}

.settings-conflict-email {
    display: none;
}
