.user-settings {
    .user-settings-email {
        margin-bottom: 20px;
    }
    .user-settings-checkboxes {
        margin-bottom: 20px;
    }

    // insert a gap before "Not confirmed" button when it's under the email input
    input[name="email"], button {
        margin-bottom: 8px;
    }

    .settings-conflict-email {
        display: none;
    }

    .notify-text {
        margin-bottom: 4px;
    }
}

