.stencil-overview-sidebar-controls {
    text-align: right;
    margin-bottom: 10px;
}

.stencil-small {
    @include mark($mat);
}
.stencil-small-my {
    @include mark($highlight);
}

.stencil-small-title {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 200;
}
.stencil-small-description {
    margin-bottom: 8px;
    p:last-child, ul:last-child {
        margin-bottom: 0px;
    }
}
.stencil-small-reward {
    float: right;
    width: 89px;
    margin-bottom: 5px;
    margin-left: 5px;
    .reward-big {
        margin: 0 auto;
        margin-bottom: 5px;
    }
}
.stencil-small-relation {
    margin: 0 auto;
    text-align: center;
}

.stencil-page-sidebar {
    margin-bottom: 5px;
}
.stencil-page-icon {
    font-size: 72px;
    float: left;
    margin-right: 20px;

    @include breakpoint(B) {
        float: none;
        text-align: right;
        margin-right: 0px;
    }
}
.stencil-page-stat {
    display: inline-block;
    @include breakpoint(B) {
        text-align: right;
        display: block;
    }
    .label {
        margin-bottom: 3px;
    }
}
.stencil-page-sidebar {
    position: relative;
    .stencil-page-reward {
        display: inline-block;
        float: left;
        margin-right: 20px;
        @include breakpoint(B) {
            margin-right: 0px;
            position: absolute;
            right: 80px;
            top: 0;
        }
    }
}

.stencil-big-edit-tools {
    float: right;
    line-height: 12px;
}
.stencil-big {
    ._edit {
        display: none;
    }
    [name=name] {
        margin-top: 10px;
    }
    .object-bottom-line {
        margin-top: 20px;
    }
}
