.stencil-small {
    @include mark($mat);
}
.stencil-small-my {
    @include mark($highlight);
}

.stencil-small-title {
    margin-bottom: 8px;
}
.stencil-small-description {
    margin-bottom: 8px;
    p:last-child, ul:last-child {
        margin-bottom: 0px;
    }
}

.stencil-page-icon {
    font-size: 64px;
    text-align: right;
}
.stencil-page-stat {
    margin-top: 20px;
    text-align: right;
}

.stencil-big-edit-tools {
    float: right;
    line-height: 12px;
}
.stencil-big {
    ._edit {
        display: none;
    }
    [name=name] {
        margin-top: 10px;
    }
}
