.user-big {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.user-big-avatar {
    float: left;
}

.user-big-names {
    float: left;
    margin-left: 20px;
    .user-big-player-login {
        font-size: 18px;
        vertical-align: middle;
        line-height: 30px;
    }
}

.user-big-points {
    float: left;
    ul, li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    ul {
        margin-top: 10px;
        list-style-type: none;
        li {
            margin-bottom: 7px;
            text-align: right;
        }
    }
    @include breakpoint(B) {
        clear: none;
        ul {
            margin-top: 4px;
            margin-left: 20px;
        }
    }

    .icon-question-sign {
        color: $dark-grey;
    }
}

.user-big-switch {
    float: right;
    ul {
        list-style-type: none;
        font-size: 18px;
        margin: 0px;
    }
    li {
        display: inline-block;
    }

    @mixin switch-circle($color) {
        border: 2px $color solid;
        &:hover {
            background-color: $color;
        }
        &._active {
            background-color: $color;
        }
    }

    ._icon {
        @include border-radius(50%);
        display: table-cell;

        cursor: pointer;
        transition: background-color 0.2s ease;

        text-align: center;
        vertical-align: middle;

        width: 45px;
        height: 45px;
    }

    ._icon._active {
        cursor: default;
    }

    ._icon._switch-quests {
        @include switch-circle($highlight);
    }
    ._icon._switch-activity {
        @include switch-circle($closed-quest-color);
    }
    ._icon._switch-profile {
        @include switch-circle($unclaimed-quest-color);
    }
}
