.users-list {
    .current-user-leaderboard-tip {
        float: right;
        position: relative;
        left: 14px;
        top: 12px;
    }

    .open-quest-count-label {
        float: right;
        position: relative;
        top: 3px;
    }

    td.user-small {
        padding: 0px;
    }
}

.user-small-inner {
    line-height: 25px;
    padding: 8px;
}

.user-small-current {
    background: lighten($highlight, 30%);
}

.user-small-pic {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
