.welcome-header {
    text-align: center;

    @include breakpoint(lessThanB) {
        margin-top: -8px;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;

        @include breakpoint(B) {
            font-size: 80px;
            line-height: 100px;
        }
    }
    h2 {
        font-size: 32px;
        line-height: 40px;

        @include breakpoint(B) {
            font-size: 64px;
            line-height: 80px;
            margin-bottom: 25px;
        }
    }
}

.welcome-signin {
    text-align: center;
    margin-bottom: 10px;
    @include breakpoint(B) {
        margin-bottom: 30px;
    }
}

.welcome-megablock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px -10px;
}

.welcome-block {
    flex-grow: 1;
    flex-basis: 350px;
    margin: 5px 10px;

    display: flex;
    flex-direction: row;
}
.welcome-block--header {
    flex-shrink: 0;
    padding: 0 30px 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    i {
        font-size: 80px;
    }
    i.icon-check {
        color: $bright-color;
    }
    i.icon-puzzle-piece {
        color: $blue-color;
    }
    i.icon-book {
        color: $red-color;
    }
    i.icon-thumbs-up {
        color: $green-color;
    }
    i.icon-rss {
        color: $orange-color;
    }
    i.icon-group {
        color: $purple-color;
    }
}

.welcome-block-text {
    margin-top: 15px;
    margin-right: 5px;
}

.welcome-realms {
    margin-top: 30px;
}
