$open-quest-color: #fcf8e3;
$closed-quest-color: #d9edf7;
$abandoned-quest-color: #dddddd;
$unclaimed-quest-color: #dff0d8;
.brand {
    font-family: doppio-one, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
    font-weight: 200;
}

.label, .badge {
    font-weight: normal;
}

.label-inverse {
    background-color: $abandoned-quest-color !important;
    color: #333;
    border: darken($abandoned-quest-color, 20%) solid 1px;

    &:hover {
        color: #333 !important;
        background-color: darken($abandoned-quest-color, 5%) !important;
    }
}

// pagers
.show-more-or-progress {
    // trying to reduce the page jerkiness
    height: 60px;
}
tbody tr.show-more > td {
    cursor: pointer;
}

.twitter-share-button {
    vertical-align: middle;
}

time.timeago {
    color: #999;
    font-style: italic;
}
