// wrapper from comments-page
.comments {
    margin-top: 10px;
}

textarea.comment-edit {
    width: 95%;
    height: 100%;
}

@mixin comment($color) {
    border-left: $color 5px solid;
}

.comment-type-close {
    @include comment($closed-quest-color);
}

.comment-type-reopen {
    @include comment($open-quest-color);
}

.comment-type-abandon {
    @include comment($abandoned-quest-color);
}

.comment-type-join {
    @include comment($unclaimed-quest-color);
}

.comment-type-invite {
    @include comment($unclaimed-quest-color);
}

.comment-type-leave {
    @include comment($abandoned-quest-color);
}

.comment-type-resurrect {
    @include comment(white);
}
