$open-quest-color: #fcf8e3;
$closed-quest-color: #d9edf7;
$abandoned-quest-color: #dddddd;
$unclaimed-quest-color: #dff0d8;
$light-grey: #f5f5f5; // the same as bootstrap's well color
$grey: #eee; // the same as bootstrap's well color
$dark-grey: #999; // same as bootstrap's .muted color
$text-color: #333;
$highlight: #ffc400; // brighter version of qh logo background color
.brand {
    font-family: doppio-one, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
    font-weight: 200;
}

.label, .badge {
    font-weight: normal;
}

// pagers
.show-more-or-progress {
    // trying to reduce the page jerkiness
    height: 60px;
}
tbody tr.show-more > td {
    cursor: pointer;
}

.twitter-share-button {
    vertical-align: middle;
}

time.timeago {
    color: $dark-grey;
    font-style: italic;
}

a.mini-button {
    color: $dark-grey;

    &:hover {
        text-decoration: none !important;
        color: $text-color;
    }
}

.user-link {
    font-weight: bold;
    color: $text-color;
}

.desktop-text {
    display: none;
    @include breakpoint(B) {
        display: inline;
    }
}
