// wrapper from comments-page
.comments {
    margin-top: 10px;
}

textarea.comment-edit {
    width: 95%;
    height: 100%;
}

.comment-type-close {
    background-color: $closed-quest-color;
}

.comment-type-reopen {
    background-color: $open-quest-color;
}

.comment-type-abandon {
    background-color: $abandoned-quest-color;
}

.comment-type-join {
    background-color: $unclaimed-quest-color;
}

.comment-type-invite {
    background-color: $unclaimed-quest-color;
}

.comment-type-leave {
    background-color: $abandoned-quest-color;
}

.comment-type-resurrect {
    background-color: white;
}
