.brand {
    font-family: doppio-one, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
    font-weight: 200;
}

// pagers
.show-more-or-progress {
    // trying to reduce the page jerkiness
    height: 60px;
}
tbody tr.show-more > td {
    cursor: pointer;
}

.twitter-share-button {
    vertical-align: middle;
}

time.timeago {
    color: #999;
}
