.dashboard {
    .quests-header {
        margin-top: 8px;
        font-size: 24px;
        font-weight: 200;
        text-align: right;
        margin-bottom: 20px;
        color: $dark-grey;
    }
}
