.event-collection {

    @media (min-width: 768px) {
        padding-left: 20px;
    }

    .event-box-view {
        position: relative;
        > hr {
            margin-top: 5px;
            margin-bottom: 25px;

            position: relative;
            left: -27px;
        }

        .event-box-realm-label {
            position: absolute;
            right: 5px;
            bottom: 10px;
        }
    }

    .event-header {
        position: relative;

        i {
            display: inline-block;
            position: absolute;
            left: -18px;
            top: 3px;
            color: $dark-grey;
            @media (min-width: 768px) {
                left: -27px;
                top: 1px;
                font-size: 20px;
            }
        }

        margin-bottom: 4px;
    }

    .event-well {
        p:last-child, ul:last-child {
            margin-bottom: 0px;
        }
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.event-well-quest-description {
    background-color: $open-quest-color;
}
