.event-collection {

    @media (min-width: 768px) {
        padding-left: 20px;
    }

    .event-box-view {
        position: relative;

        .event-box-realm-label {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }

    .event-header {
        position: relative;
        font-size: 11.844px;
        color: $dark-grey;

        i {
            color: $dark-grey;
            @include breakpoint(B) {
                display: inline-block;
                position: absolute;

                left: -38px;
                top: -3px;
                font-size: 20px;
            }
        }

        margin-bottom: 4px;
    }

    .event-well {
        p:last-child, ul:last-child {
            margin-bottom: 0px;
        }
    }
}

@mixin event-box($color) {
    border-left: $color 5px solid;
}
.event-type-add-quest {
    @include event-box($open-quest-color);
}
.event-comment-type-close {
    @include event-box($closed-quest-color);
}
.event-comment-type-join {
    @include event-box($unclaimed-quest-color);
}
.event-comment-type-invite {
    @include event-box($unclaimed-quest-color);
}
