// Always show vertical scroll bar in browser. It fixes the issue with jumping buttons.
html { overflow-y: scroll; }

//sticky footer, see http://twitter.github.com/bootstrap/
html, body {
    height: 100%;
}

*, *:before, *:after {
    @include box-sizing(border-box);
}
input {
    @include box-sizing(content-box);
}

// Wrapper for page content to push down footer
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    // Negative indent footer by its height
    margin: 0 auto -85px;
    @include breakpoint(B) {
        margin-bottom: -65px;
    }
    @include breakpoint(C) {
        margin-bottom: -45px;
    }
}

// Set the fixed height of the footer here
#push,
#footer {
    height: 85px;
    @include breakpoint(B) {
        height: 65px;
    }
    @include breakpoint(C) {
        height: 45px;
    }
}

#wrap > .app-view-container {
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 55px;

    @include breakpoint(B) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#footer {
    font-size: 11.844px;
    background-color: $mat;
    padding-left: 10px;
    padding-right: 10px;

    .footer-separator {
        visibility: hidden;
        display: block;
        height: 0px;
    }

    @include breakpoint(B) {
        .footer-separator-tail {
            display: inline;
            visibility: visible;
        }
    }
    @include breakpoint(C) {
        .footer-separator {
            display: inline;
            visibility: visible;
        }
    }

    .credit {
        margin: 10px 0;
        text-align: center;
    }
    .flattr-wrapper {
        position: relative;
        top: 6px;
    }
}
