dd {
    margin-bottom: 20px;
}

.avatar-mini {
    width: 24px;
    height: 24px;
}

.signin {
    line-height: 60px;
    a {
        width: 200px;
    }
}

.icon-twitter {
    color: #4099ff;
}

.object-bottom-line {
    // Fixing the jumping line height on "like" button hide/show.
    // Note: 22 is enough for Chrome, but not enough for Firefox.
    line-height: 23px;

    time, .user-link {
        font-size: 11.844px; // same as badges font size
    }
}

.tag-filter {
    text-align: center;
}

@import 'mixin';

@import 'sass/common.scss';

@import 'sass/blocks/tag.scss';
@import 'sass/blocks/mini-like.scss';
@import 'sass/blocks/preview.scss';
@import 'sass/blocks/well.scss';

@import 'sass/frame.scss';
@import 'sass/navbar.scss';

@import 'sass/realm.scss';
@import 'sass/about.scss';
@import 'sass/welcome.scss';

@import 'sass/newbie-tour.scss';
@import 'sass/register.scss';
@import 'sass/settings.scss';
@import 'sass/unsubscribe.scss';

@import 'sass/quest-collection.scss';
@import 'sass/quest-page.scss';

@import 'sass/quest-add.scss';
@import 'sass/dashboard.scss';

@import 'sass/news-feed.scss';
@import 'sass/event-collection.scss';

@import 'sass/user-collection.scss';
@import 'sass/user-big.scss';

@import 'sass/comment.scss';
