dd {
    margin-bottom: 20px;
}

.avatar-mini {
    width: 24px;
    height: 24px;
}

.signin {
    line-height: 60px;
    a {
        width: 200px;
    }
}

.icon-twitter {
    color: #4099ff;
}

// comment as shown in the News Feed
.event-comment-well {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto;
}

// comment as shown on the quest page
.comment-content {
    overflow: auto;
}

// wrapper from comments-page
.comments {
    margin-top: 10px;
}

textarea.comment-edit {
    width: 95%;
    height: 100%;
}

a.mini-button {
    color: #999;

    &:hover {
        text-decoration: none !important;
        color: #333;
    }
}

.modal-quest-add label {
    cursor: default; // override bootstrap's "pointer" cursor style, it's confusing
}

input.quest-edit {
    font-size: 26px;
    line-height: 26px;
    height: 35px;
    width: 95%;
    font-weight: 200;
    margin-bottom: 0px;
}

.quest-tags-edit input {
    background-color: #fcf8e3;
}

.registration-form {
    margin-top: 30px;
}

.object-bottom-line {
    // fixing the jumping line height on "like" button hide/show
    line-height: 24px;
}

.tag-filter {
    text-align: center;
}

ul.nav-filter {
    margin-bottom: 0px; // accordion around it sets enough padding

    li {
        display: block;
        float: none;
        background-color: #f5f5f5;
    }
}

@import 'sass/common.scss';
@import 'sass/frame.scss';
@import 'sass/realm.scss';
@import 'sass/welcome.scss';
@import 'sass/quest-collection.scss';
@import 'sass/quest-page.scss';
@import 'sass/dashboard.scss';
@import 'sass/user-collection.scss';
@import 'sass/register.scss';
