dd {
    margin-bottom: 20px;
}

.avatar-mini {
    width: 24px;
    height: 24px;
}

.signin {
    line-height: 60px;
    a {
        width: 200px;
    }
}

.user-link {
    font-weight: bold;
    color: #333;
}

.icon-twitter {
    color: #4099ff;
}

// comment as shown on the quest page or news feed
.comment-content {
    overflow: auto;
//    line-height: 1.75; TODO - our lines are too long and this would be useful, but only on wide screens, so we need to add a media query here
}

// wrapper from comments-page
.comments {
    margin-top: 10px;
}

textarea.comment-edit {
    width: 95%;
    height: 100%;
}

a.mini-button {
    color: #999;

    &:hover {
        text-decoration: none !important;
        color: #333;
    }
}

.modal-quest-add label {
    cursor: default; // override bootstrap's "pointer" cursor style, it's confusing
}

input.quest-edit {
    font-size: 26px;
    line-height: 26px;
    height: 35px;
    width: 95%;
    font-weight: 200;
    margin-bottom: 0px;
}

.quest-tags-edit input {
    background-color: #fcf8e3;
}


.object-bottom-line {
    // fixing the jumping line height on "like" button hide/show
    line-height: 22px;

    time, .user-link {
        font-size: 11.844px; // same as badges font size
    }
}

.tag-filter {
    text-align: center;
}

ul.nav-filter {
    margin-bottom: 0px; // accordion around it sets enough padding

    li {
        display: block;
        float: none;
        background-color: #f5f5f5;
    }
}

@import 'mixin';

@import 'sass/common.scss';

@import 'sass/blocks/tag.scss';

@import 'sass/frame.scss';
@import 'sass/navbar.scss';

@import 'sass/realm.scss';
@import 'sass/welcome.scss';
@import 'sass/about.scss';
@import 'sass/quest-collection.scss';
@import 'sass/quest-page.scss';
@import 'sass/dashboard.scss';
@import 'sass/news-feed.scss';
@import 'sass/user-collection.scss';
@import 'sass/register.scss';
@import 'sass/settings.scss';
@import 'sass/unsubscribe.scss';
