.news-feed-view {

    ul.nav-filter {
        margin-bottom: 0px; // accordion around it sets enough padding

        li {
            display: block;
            float: none;
            background-color: $light-grey;
        }
    }
}
