.quest-add-body label {
    cursor: default; // override bootstrap's "pointer" cursor style, it's confusing
}

input.quest-edit {
    font-size: 26px;
    line-height: 26px;
    height: 43px;
    @include box-sizing(border-box);
    width: 100%;
    font-weight: 200;
    margin-bottom: 0px;
}

.quest-tags-edit input {
    background-color: $open-quest-color;
}

.quest-add-row {
    margin-bottom: 8px;
}

.quest-add-realm {
    button {
        color: $dark-grey;
        font-size: 12px !important;
    }
    button.active {
        font-weight: bold;
    }
}
