.modal-quest-add label {
    cursor: default; // override bootstrap's "pointer" cursor style, it's confusing
}

input.quest-edit {
    font-size: 26px;
    line-height: 26px;
    height: 35px;
    width: 95%;
    font-weight: 200;
    margin-bottom: 0px;
}

.quest-tags-edit input {
    background-color: $open-quest-color;
}

