div.quest-big-open, div.quest-big-closed, div.quest-big-abandoned, div.quest-big-unclaimed {
    position: relative;
    padding: 9px;
}

div.quest-big-open {
    background-color: $open-quest-color;
}
div.quest-big-closed {
    background-color: $closed-quest-color;
}
div.quest-big-abandoned {
    background-color: $abandoned-quest-color;
}
div.quest-big-unclaimed {
    background-color: $unclaimed-quest-color;
}

.quest-big {
    h2 {
        overflow: auto;
    }

    .object-bottom-line {
        margin-top: 20px;
    }
}

.quest-big-labels {
    display: block;
    float: right;
}

.quest-big-edit {
    display: none;
    margin-bottom: 5px;
}

.quest-page-left {
    .watchers {
        margin-bottom: 8px;
    }
    .likes {
        margin-bottom: 8px;
    }

    position: relative;
    @include breakpoint(C) {
        > div.reward {
            position: absolute;
            right: 130px;
            top: 0;
        }

        > div.quest-action {
            width: 120px;
            margin-left: auto;
            margin-right: 0px;

            button {
                display: block;
            }
        }

        > div.invited-list {
            margin-right: 0px;
            margin-left: auto;
            margin-top: 15px;
        }
    }

    @media (min-width: 768px) and (max-width: 979px) {
        > div {
            width: 120px; // width of an action button
            float: right;
            margin-bottom: 20px;
        }

        > div.reward {
            text-align: center;

            .reward-circle {
                margin: 0 auto;
            }
        }
        > div.quest-action {

            button {
                display: block;
            }
        }

        > div.invited-list {
            margin-top: 15px;
        }
    }

    @media (max-width: 767px) {
        min-height: 90px !important;

        > div.reward {
            position: absolute;
            left: 0;
            top: 0;
        }

        > div.quest-action {
            margin-left: 90px;
            vertical-align: top;
            float: left;
        }

        > div.invited-list {
            margin-left: 18px;
            float: right;
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    @media (max-width: 660px) {
        > div.quest-action button {
            display: block;
        }
    }

    .reward {
        .reward-circle {
            @include border-radius(50%);

            padding: 20px;
            display: inline-block;
            cursor: pointer;
            background-color: $open-quest-color;
            border: 3px $open-quest-color solid;
            transition: border 0.2s ease;
            text-align: center;

            .points {
                display: block;
                font-size: 25px;
            }

            &:hover {
                border: 3px #ffb91f solid;
            }
        }
    }

    .quest-action {
        button {
            width: 120px;
            margin-bottom: 7px;
            text-align: left;
        }

        .invite-dialog {
            display: none;
        }
    }

    .invited-list {
        width: 120px;

        h5 {
            font-weight: 200;
        }

        ul {
            list-style-type: none;
            text-align: left;
            margin-left: 0px;
            li {
                margin-top: 6px;
                position: relative;

                .uninvite {
                    position: absolute;
                    left: -20px;
                }
                .join {
                    position: absolute;
                    left: -70px;
                    width: 64px;
                }
            }
        }
    }
}
