div.quest-big-open, div.quest-big-closed, div.quest-big-abandoned, div.quest-big-unclaimed {
    position: relative;
    padding: 9px;
}

div.quest-big-open {
    background-color: #fcf8e3;
}
div.quest-big-closed {
    background-color: #d9edf7;
}
div.quest-big-abandoned {
    background-color: #dddddd;
}
div.quest-big-unclaimed {
    background-color: #dff0d8;
}

.quest-big {
    h2 {
        overflow: auto;
    }

    .quest-big-labels {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.quest-page-left {
    @media (min-width: 480px) and (max-width: 767px) {
        min-height: 90px;
    }

    .reward-circle-wrap {
        @media (min-width: 980px) {
            float: left;
        }

        @media (min-width: 768px) and (max-width: 979px) {
            width: 120px; // width of an action button
            float: right;
            margin-bottom: 20px;
            text-align: center;
        }

        @media (max-width: 767px) {
            float: left;
        }

        .reward-circle {
            border-radius: 50%;
            -moz-border-radius:50%;
            -webkit-border-radius: 50%;

            padding: 20px;
            display: inline-block;
            background-color: #ffb91f;
            text-align: center;

        @media (min-width: 768px) and (max-width: 979px) {
            margin: 0 auto;
        }
            .points {
                display: block;
                font-size: 25px;
            }
        }
    }

    .quest-action {
        @media (min-width: 480px) and (max-width: 767px) {
            margin-left: 90px;
        }

        button {
            width: 120px;
            margin-bottom: 7px;
            margin-left: auto;
            margin-right: 0px;
            @media (min-width: 768px) {
                display: block;
            }
            @media (max-width: 479px) {
                display: block;
            }
            text-align: left;
        }

        .invite-dialog {
            display: none;
        }
    }

    .invited-list {
        width: 120px;
        margin-right: 0px;
        margin-left: auto;
        margin-top: 15px;

        h5 {
            font-weight: 200;
        }

        ul {
            list-style-type: none;
            text-align: left;
            margin-left: 0px;
            li {
                margin-top: 6px;
                position: relative;

                .uninvite {
                    position: absolute;
                    left: -20px;
                }
                .join {
                    position: absolute;
                    left: -70px;
                    width: 64px;
                }
            }
        }
    }
}
