// see views/quest/small.js
.quest-row td {
    line-height: 25px;
}

@mixin quest-row($color) {
    > td {
        background-color: $mat;
        border-left: $color 5px solid;
    }
    &:hover > td {
        background-color: $mat;
        border-left: darken($color, 20%) 5px solid;
    }
}

// based on bootstrap's tr.info
tbody tr.quest-closed {
    @include quest-row($closed-quest-color);
}

// based on bootstrap's tr.warning
tbody tr.quest-open {
    @include quest-row($open-quest-color);
}

tbody tr.quest-abandoned {
    @include quest-row($abandoned-quest-color);
}

tbody tr.quest-unclaimed {
    @include quest-row($unclaimed-quest-color);
}
