// see views/quest/small.js
.quest-row td {
    line-height: 25px;
}

// based on bootstrap's tr.info
tbody tr.quest-closed {
    > td {
        background-color: $closed-quest-color;
    }
    &:hover > td {
        background-color: darken($closed-quest-color, 5%);
    }
}

// based on bootstrap's tr.warning
tbody tr.quest-open {
    > td {
        background-color: $open-quest-color;
    }
    &:hover > td {
        background-color: darken($open-quest-color, 5%);
    }
}

tbody tr.quest-abandoned {
    > td {
        background-color: $abandoned-quest-color;
    }
    &:hover > td {
        background-color: darken($abandoned-quest-color, 5%);
    }
}

tbody tr.quest-unclaimed {
    > td {
        background-color: $unclaimed-quest-color;
    }
    &:hover > td {
        background-color: darken($unclaimed-quest-color, 5%);
    }
}
