div.quest-big-open {
    position: relative;
    padding: 9px;
    background-color: #fcf8e3;
}
div.quest-big-closed {
    position: relative;
    padding: 9px;
    background-color: #d9edf7;
}
div.quest-big-abandoned {
    position: relative;
    padding: 9px;
    background-color: #dddddd;
}
div.quest-big-unclaimed {
    position: relative;
    padding: 9px;
    background-color: #dff0d8;
}

.quest-big-labels {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.reward-block {
    text-align: center;
}
.reward-circle {
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;

    padding: 20px;
    display: inline-block;
    background-color: #ffb91f;
    text-align: center;

    .points {
        display: block;
        font-size: 25px;
    }
}

.quest-big {
    h2 {
        overflow: auto;
    }
}

.invite-to-team {
    margin-top: 20px;

    button {
        margin-left: 0px;
    }

    ul {
        list-style-type: none;
        text-align: left;
        li {
            margin-top: 6px;
        }
    }

    .invite-dialog {
        display: none;
    }
}
