div.quest-big-open {
    position: relative;
    padding: 9px;
    background-color: #fcf8e3;
}
div.quest-big-closed {
    position: relative;
    padding: 9px;
    background-color: #d9edf7;
}
div.quest-big-abandoned {
    position: relative;
    padding: 9px;
    background-color: #dddddd;
}
div.quest-big-unclaimed {
    position: relative;
    padding: 9px;
    background-color: #dff0d8;
}
