.users-list {
    .current-user-leaderboard-tip {
        float: right;
        position: relative;
        left: 14px;
        top: 12px;
    }

    .open-quest-count-label {
        float: right;
        position: relative;
        top: 3px;
    }

    td {
        line-height: 25px;
    }
}
