.users-list {
    .current-user-leaderboard-tip {
        float: right;
        position: relative;
        left: 14px;
        top: 12px;
    }

    .open-quest-count-label {
        float: right;
        position: relative;
        top: 3px;
    }

    td.user-small {
        padding: 0px;
    }
}

.user-small-inner {
    border-left: 3px solid $mat;
    line-height: 25px;
    padding: 8px;
}

.user-small-current {
    border-left: 3px solid $highlight;
}
