.welcome {
    h1, h2, h3 {
        text-align: center;
    }

    @include breakpoint(B) {
        padding-left: 30px;
        padding-right: 30px;
        hr {
            width: 70%;
            min-width: 450px;
            margin: 20px auto;
        }

        .welcome-signin {
            text-align: center;
        }
    }

    .info-blocks .row-fluid:first-child {
        margin-top: 10px;
    }
    .info-blocks .row-fluid {
        margin: 25px 0;
        font-size: 16px;
        color: #666;
        strong {
            color: #000;
        }
        i {
            color: #2c3e50;
            float: left;
            font-size: 20px;
        }
        div {
            margin-left: 30px;
        }
    }

    .realms-subview {
        margin: 0px auto 15px;
    }
}
