<div class="comment-add">
  <% if (currentUser) { %>
    <aside>
      <%= partial.upic_small({ login: currentUser }) %>
    </aside>
    <div class="comment-add-inner">
      <div class="comment-add-textarea-sv"></div>
      <div class="comment-add-aux-controls dropdown">
        <% var type2name = { "text": "Discuss", "secret": "Promise reward" } %>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%- type2name[commentType] %> <i class="icon-caret-down"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <% _.each(type2name, function (name, type) { %>
          <li><a href="#" data-comment-type="<%- type %>">
            <% if (type == commentType) { %>
              <strong><%- name %></strong>
            <% } else { %>
              <%- name %>
            <% } %>
          </a></li>
        <% }) %>
        </ul>
      </div>
      <div class="comment-add-buttons">
        <button class="btn btn-primary submit disabled">Comment</button>
      </div>
    </div>
  <% } else { %>
    <div class="comment-add-signin">
      <header>Sign in to comment:</header>
      <span class="signin"></span>
    </div>
  <% } %>
</div>
