<div class="comment-add">
  <% if (currentUser) { %>
    <aside>
      <%= partial.upic_small({ login: currentUser }) %>
    </aside>
    <div class="comment-add-inner">
      <div class="comment-add-textarea-sv"></div>
      <div class="comment-add-buttons">
        <button class="btn btn-primary submit disabled">Comment</button>
      </div>
    </div>
  <% } else { %>
    <div class="comment-add-signin">
      <header>Sign in to comment:</header>
      <span class="signin"></span>
    </div>
  <% } %>
</div>
