<div class="quest-add">
  <section class="quest-add-sidebar sidebar desktop-block <%- selectedRealm ? '' : 'quest-add-realm-unpicked' %>">
    <div class="quest-add-realm-list clearfix">
      <header>
        Realm:
      </header>

      <ul class="pills">
        <% _.each(realms, function(r) { %>
        <li data-realm="<%- r.id %>"><a href="#"><%- r.name %></a></li>
        <% }) %>
      </ul>
    </div>
    <div class="realm-sv"></div>
  </section>

  <section class="quest-add-mainarea mainarea">

    <header>
      Go on a quest
    <div class="mobile-inline-block">
      in
      <select name="realm" class="quest-add-realm-select">
        <option value="" selected>
          Pick a realm:
        </option>
        <% _.each(realms, function(r) { %>
        <option value="<%- r.id %>"><%- r.name %></option>
        <% }) %>
      </select>
    </div>
    </header>

    <div class="well clearfix quest-add-form">
      <div class="form-row">
        <label><small class="muted">Write a short description of the task here.</small></label>
        <input name="name" type="text" class="input-large" placeholder="What's your next goal?" value="<%- name %>">
      </div>

      <div class="form-row">
        <label><small class="muted">Description:</small></label>
        <div class="description-sv"></div>
      </div>

      <div class="form-row">
        <div class="quest-tags-edit control-group">
          <label><small class="muted">Tags are optional. Enter them comma-separated here (for example: "bug,dancer"):</small></label>
          <input name="tags" type="text" data-placement="top" data-title="tags must be alphanumerical" data-animation="false" data-trigger="manual" value="<%- tags.join(', ') %>">
        </div>
      </div>

    </div>

    <div class="pull-right">
      <i class="icon-spinner icon-spin"></i>
      <button class="btn btn-large btn-default _cancel">Cancel</button>
      <button class="btn btn-large btn-primary _go" data-placement="top" data-title="pick a realm first" data-animation="false" data-trigger="hover">Start quest</button>
    </div>

  </section>

</div>
