<div class="quest-completed modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%- name %></h3>
  </div>
  <div class="modal-body">
    <p>
    You completed a quest.
    Congratulations, you get <%= points %> points!<br>
    <p>
    Your total score: <span class="badge badge-info"><%= totalPoints %></span>
    </p>

    <% if (gotTwitter) { %>
    <hr>
    <div class="quest-completed-share">
      <div class="quest-completed-share-text">
        Do you want to brag about this quest on Twitter?<br>
        The more people like it, the more points you get.
      </div>
      <div class="quest-completed-share-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%- name + ' ' + window.location.href %>" data-size="large" data-count="none" data-hashtags="questhub" data-dnt="true">Tweet</a>
      </div>
    </div>
    <% } %>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Hooray!</button>
  </div>
</div>
