<article class="quest-page <%- currentUser ? 'quest-page-registered' : 'quest-page-unregistered' %>">

<aside class="sidebar quest-page-sidebar">

  <div class="quest-page-reward">
    <div>
      <%= partial.reward({ points: points, status: status }) %>
    </div>
    <span class="label label-<%= status === 'open' && 'warning' %>"><%= status === 'closed' ? 'completed' : status %></span>
  </div>

  <% if (currentUser) { %>
    <div class="js-quest-page-action quest-page-action">
      <% if (my) { %> <!-- quest belongs to the current user -->
        <% if (status === 'open') { %>
            <button class="complete btn btn-primary" data-toggle="tooltip" data-placement="right" title="Claim&nbsp;your&nbsp;points!">
              <i class="icon-check"></i>
              Complete
            </button>

          <button class="drop-out btn btn-default" data-toggle="tooltip" data-placement="right" title="Give&nbsp;up&nbsp;on&nbsp;this&nbsp;quest.">
            <i class="icon-eject"></i>
            Drop out
          </button>

        <% } else if (status === 'closed') { %>

          <button class="reopen btn btn-primary">
            <i class="icon-backward"></i>
            Reopen
          </button>

        <% } else if (status === 'abandoned') { %>

          <button class="resurrect btn btn-default">
            <i class="icon-play"></i>
            Resurrect
          </button>

        <% } %>

        <button class="clone btn btn-default" data-toggle="tooltip" data-placement="right" title="Create&nbsp;a&nbsp;new&nbsp;quest&nbsp;based&nbsp;on&nbsp;this&nbsp;one.">
          <i class="icon-copy"></i>
          Clone
        </button>

      <% } else { %>
        <!-- watch, like -->
        <% if (meGusta) { %>
          <button class="unlike btn btn-default">
            <span class="muted">
            <i class="icon-thumbs-up-alt"></i>
            Unlike
            </span>
          </button>
        <% } else { %>
          <button class="like btn btn-success">
            <i class="icon-thumbs-up"></i>
            Like
          </button>
        <% } %>

        <% if (obj.watchers && _.contains(watchers, currentUser)) { %>
          <button class="unwatch muted btn btn-default">
            <span class="muted">
            <i class="icon-eye-close"></i>
            Unwatch
            </span>
          </button>
        <% } else { %>
          <button class="watch btn btn-default">
            <i class="icon-eye-open"></i>
            Watch
          </button>
        <% } %>

      <% } %>

      <% if (invited) { %>
      <span>You're invited! <button class="join btn btn-danger">Join this quest</button></span>
      <% } %>

      <% if (my) { %>
        <button class="invite btn btn-default" data-toggle="tooltip" data-placement="right" title="Invite&nbsp;another&nbsp;player&nbsp;to&nbsp;work&nbsp;with&nbsp;you.">
          <i class="icon-user"></i>
          Invite
        </button>
        <form class="form-inline invite-dialog" onSubmit="return false">
          <label class="muted">Invite:</label>
          <input id="inputInvitee" type="text" placeholder="Login">
          <div class="invite-dialog-controls">
            <a href="#" class="btn btn-mini invite-cancel btn-default">Cancel</a>
            <a href="#" class="btn btn-mini invite-send btn-primary">Send</a>
          </div>
        </form>
      <% } %>
    </div>
  <% } %>

  <% if (obj.invitee && obj.invitee.length) { %>
    <div class="quest-page-invited-list <%- my ? 'quest-page-invited-list-my' : '' %>">
    <div>Invited:</div>
    <ul>
      <% _.each(invitee, function (i) { %>
      <li>
        <% if (my) { %>
          <a href="#" class="uninvite mini-button" data-login="<%- i %>"><i class="icon-remove"></i></a>
        <% } %>
        <%= partial.user({ realm: realm, login: i }) %>
      </li>
      <% }) %>
    </ul>
    </div>
  <% } %>

  <div class="quest-checkins-sv"></div>

</aside>

<div class="mainarea">
  <div class="main">
    <div class="quest-big"></div>
    <div class="comments"></div>
  </div>
</div>

</article>
