<div class="feed-item">
  <div class="quest-sv"></div>

  <div class="feed-item-comments">
    <% if (expand) { %>
      <div class="feed-item-expand-comments-panel">
        <a href="#" class="feed-item-expand-comments">
          <i class="icon-comments"></i>
          Show <%- expandCount %> more comment<%- (expandCount == 1) ? '' : 's' %> <i class="icon-double-angle-down"></i>
          <span class="expand-progress-sv"></span>
        </a>
      </div>
    <% } %>
    <div class="comments-sv"></div>
  </div>
</div>
