.reward-circle {
    @include border-radius(50%);

    padding: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: $mat;
    border: 3px $highlight solid;
    transition: background-color 0.5s ease;
    text-align: center;

    .points {
        display: block;
        font-size: 25px;
    }

    &:hover {
        background-color: $highlight;
    }
}

.reward-small {
    color: darken(saturate($highlight, 10%), 10%);
    display: inline-block;
    font-weight: bold;
}
