//.reward-big {
//    @include reward-circle-color($highlight);
//}
//.reward-big-closed {
//    @include reward-circle-color($closed-quest-color);
//}
//.reward-big-abandoned {
//    @include reward-circle-color($abandoned-quest-color);
//}

.reward {
    font-size: 24px;
    font-weight: 200;
    display: inline-block;
    position: relative;
    .reward-points {
        vertical-align: middle;
        position: relative;
        left: 2px;
        top: -1px;
    }
    .icon-stack {
        position: relative;
        left: -2px;
        vertical-align: middle;
        font-size: 18px;
        color: $closed-quest-color;
    }
    .icon-star {
        color: $mat;
    }
}

.reward-status-closed .icon-stack, .reward-small.reward-status-closed .icon-star {
    color: $closed-quest-color;
}
.reward-status-open .icon-stack, .reward-small.reward-status-open .icon-star {
    color: $highlight;
}
.reward-status-abandoned .icon-stack, .reward-small.reward-status-abandoned .icon-star {
    color: $abandoned-quest-color;
}

.reward-small {
    font-size: 14px;
    display: inline;
    position: relative;
    .reward-points {
        position: relative;
        left: 1px;
    }
    .icon-star {
        color: $closed-quest-color;
    }
}
