.tag {
    background-color: $grey-color;
    color: $text-color;
    border: darken($grey-color, 20%) solid 1px;

    @include border-radius(3px);
    @include badge;

    padding: 2px 4px;

    &:hover {
        color: $text-color;
        background-color: darken($grey-color, 5%);
        text-decoration: none;
    }
}

.tag-time, .tag-special {
    background-color: #3a87ad;
    color: white;
    border: none;

    &:hover {
        color: white;
        background-color: darken(#3a87ad, 5%);
    }
}

.tag-realm {
    background-color: $blue-color;
    &:hover {
        background-color: darken($blue-color, 5%);
    }
}

.tag-active {
    &, &:hover {
        background-color: lighten($blue-color, 5%);
        border-color: darken($blue-color, 10%);
        font-weight: bold;
    }
}
