.helper-textarea {
    textarea {
        resize: none !important;
        width: 100%;
        height: 100%;
    }
}

.helper-textarea-preview {
    margin-bottom: 8px;
    ._label {
        color: $dark-grey;
        float: right;
        margin-right: 5px;
    }
    ._content {
        background-color: $mat;
        min-height: 30px;
        border: dashed 1px $dark-grey;
        padding: 5px;
    }
}
