@include breakpoint(B) {
    .like-button-hide {
        visibility: hidden;
    }
}

.like-button {
    @include border-radius(9px);
    @include badge();
    padding: 2px 9px;
    color: white;
    background-color: lighten($like-color, 30%);
}

.like-button-liked {
    background-color: $like-color;
}
