.dashboard-profile-column {
    @include breakpoint(B) {
        float: left;
        width: 49%;
        margin-right: 2%;
        &:last-of-type {
            margin-right: 0%;
        }
    }
}

.dashboard-profile {
    .well {
        padding: 15px;
        @include breakpoint(B) {
            padding: 20px;
        }
    }

    a {
        font-weight: 200;
    }
    a.user-link {
        font-weight: normal;
        color: #08c;
    }
}

.dashboard-profile-realm-collection {
    position: relative;
    ul {
        list-style-type: none;
        margin: 0 auto;
    }

    @include breakpoint(C) {
        ul {
            margin-left: 30px;
        }
    }
    img {
        margin-right: 10px;
        @include breakpoint(C) {
            margin-right: 20px;
        }
        width: 50px;
        height: 50px;

        @include breakpoint(B) {
            width: 80px;
            height: 80px;
        }
    }
    a._realm-link:hover {
        text-decoration: none !important;
    }

    .icon-question-sign {
        position: absolute;
        top: 8px;
        right: 8px;
        color: $dark-grey;
    }

    li {
        display: flex;
        align-items: center;
    }
}
.dashboard-profile-realm {
    display: flex;
    align-items: flex-end;
    .dashboard-profile-text {
        position: relative;
        top: 5px;
    }
}

.dashboard-profile-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
}
