<div class="user-settings">
  <header>
    <i class="icon-wrench"></i> Settings
    <span class="progress-load-sv"></span>
  </header>
  <div class="well user-settings-well">
    <div class="user-settings-name-and-pic">

      <div class="user-settings-names">
        <span class="user-settings-login"><%= user.login %></span>
        <% if (user.twitter) {
          if (user.twitter.screen_name) { %>
            <div>
              <i class="icon-twitter"></i>
              <a href="https://twitter.com/<%= user.twitter.screen_name %>">
                @<%= user.twitter.screen_name %>
              </a>
            </div>
        <% } } %>
      </div>
      <div class="user-settings-upic">

        <form class="pic-upload-form" enctype="multipart/form-data" action="/api/current_user/pic" method="post">
          <div class="user-settings-upic-preview">
            <%= partial.upic_normal({ login: user.login }) %>
          </div>
          <span class="btn btn-mini btn-file">
            <span><i class="icon-pencil"></i> Change picture</span>
            <input name="pic" type="file" />
          </span>
        </form>

      </div>

    </div>

    <div class="form-horizontal user-settings-email">
      <% if (obj.email_confirmed == 'persona') { %>
        <h4><%- obj.email || 'oops' %>
        <span class="label label-success">Persona</span>
        </h4>
      <% } else { %>
        <input name="email" type="email" placeholder="Email" value="<%- obj.email %>">
        <span class="settings-conflict-email alert alert-error">&larr; Email is already in use.</span>
        <span class="email-status <%= (obj.hideEmailStatus || obj.email_confirmed == 'persona') ? "hide" : "" %>">
          <% if (obj.email_confirmed) { %>
            <span class="label label-success">Confirmed</span>
          <% } else if (obj.email) { %>
            <button class="btn btn-warning resend-email-confirmation">Not confirmed. Resend confirmation key?</button>
          <% } %>
        </span>
      <% } %>
    </div>
    <hr>

    <div class="user-settings-checkboxes">
      <div class="muted notify-text">Notify me by email when someone...</div>
      <label class="checkbox">
        <input name="notify-comments" type="checkbox" <%= (obj.notify_comments > 0) ? 'checked' : '' %>>comments on my quest or mentions me
      </label>
      <label class="checkbox">
        <input name="notify-likes" type="checkbox" <%= (obj.notify_likes > 0) ? 'checked' : '' %>>likes my quest
      </label>
      <label class="checkbox">
        <input name="notify-invites" type="checkbox" <%= (obj.notify_invites > 0) ? 'checked' : '' %>>invites me to a quest
      </label>
      <label class="checkbox">
        <input name="notify-followers" type="checkbox" <%= (obj.notify_followers > 0) ? 'checked' : '' %>>follows me
      </label>
    </div>

    <div class="user-settings-newsletter">
      <label class="checkbox">
        <input name="newsletter" type="checkbox" <%= (obj.newsletter > 0) ? 'checked' : '' %>>Subscribe to the newsletter <span class="muted">(approximately once per few weeks)</span>
      </label>
    </div>

    <hr>
    <div class="user-settings-token">
      <span class="muted">API token:</span>
      <% if (obj.api_token) { %>
        <span class="_token"><%- obj.api_token %></span>
        <br><button class="btn btn-small js-generate-token js-regenerate-token regenerate-token"><i class="icon-refresh"></i> Regenerate</button>
      <% } else { %>
        <button class="btn btn-small js-generate-token generate-token">Generate</button>
      <% } %>
      <br>
      <small><a href="/about/api" target="_blank">About API</a></small>
    </div>
  </div>
  <button class="btn btn-large btn-primary submit">
    Save settings
    <span class="progress-save-sv"></span>
  </button>
</div>
