<h1 class="brand">Bug reports and feature requests</h1>

<div>
  <h3>As quests</h3>
  <p>
    The preferred way to provide feedback, request features, report bugs, or start any Questhub-related conversations is by posting them to <a href="/realm/meta">Meta</a> realm:<br>
    <ol>
      <li><a href="/realm/meta/quest/add">Create a quest</a> there.</li>
      <li><em>Invite</em> me (<%= partial.user({ login: "berekuk" }) %>) to the quest.</li>
    </ol>
    You can then <em>Leave</em> the quest for me to pick up, or you can stay on quest's team, and if I implement it, we both'll get some points.
  </p>
  <p>
    If you're unsure if the task is already in works, check out the <a href="/realm/meta/explore/open">list of existing quests</a>. Don't worry too much about creating duplicates, though!
  </p>

</div>
<div>
  <h3>As Github issues</h3>
  <p>
  If your issue is that you can't sign in to Questhub, or the above instruction is for some reason inconvenient for you, you can also <a href="https://github.com/berekuk/questhub/issues/new">create an issue</a> on Github.
  </p>
</div>

<div>
  <h3>Or talk to me directly</h3>
  <p>
  If you'd prefer a private conversation, just send me an e-mail: <a href="mailto:me@berekuk.ru">me@berekuk.ru</a>.
  </p>
</div>
