<div class="stencil-add modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>
      Add a stencil
      <i class="icon-spinner icon-spin"></i>
    </h3>
  </div>
  <div class="modal-body">

    <div class="form-row">
      <small class="muted">Good stencils are reusable and flexible, but specific.</small><br>
      <small class="muted">If you want to propose a one-time task, don't create a stencil, just add it as a quest and then <abbr title='click "Leave" on quest page'>unclaim</abbr> it.</small>
    </div>

    <div class="form-row">
      <input name="name" type="text" class="input-large" placeholder="Short title of the task">
    </div>

    <div class="form-row">
      <label><small class="muted">Detailed description (markdown syntax supported):</small></label>
      <textarea name="description" class="textarea-large" placeholder="Stencil details are optional."></textarea>
    </div>

    <div class="form-row">
      <small class="muted">Reward:</small>
      <div class="btn-group stencil-add-reward" data-toggle="buttons-radio">
        <button class="btn active" data-points="1">1 point</button>
        <button class="btn" data-points="2">2 points</button>
        <button class="btn" data-points="3">3 points</button>
      </div>
    </div>

    <div class="form-row">
      <div class="stencil-tags-edit control-group">
        <label><small class="muted">Tags are optional. Enter them comma-separated here:</small></label>
        <input name="tags" type="text" data-placement="top" data-title="tags must be alphanumerical" data-animation="false" data-trigger="manual">
        <button class="btn btn-primary _go pull-right">Go!</button>
      </div>
    </div>


  </div>
</div>
