<div class="post-big stencil-big">
  <aside>&nbsp;</aside>
  <div class="post-big-inner">
    <small class="muted">Stencil by <%= partial.user({ login: author }) %>:</small>

    <% if (isKeeper) { %>
      <%= partial.edit_tools() %>
    <% } %>

    <div class="_editable">
      <header class="post-big-title"><%- name %></header>
    </div>
    <% if (isKeeper) { %>
    <div class="_edit form-row control-group">
      <input class="input-large" name="name" type="text" placeholder="Stencil title is required!">
    </div>
    <% } %>

    <% if (obj.description) { %>
      <div class="_editable widetext">
        <div class="description-sv"></div>
      </div>
    <% } %>
    <% if (isKeeper) { %>
    <div class="_edit form-row">
      <div class="description-edit-sv"></div>
    </div>

    <div class="_edit clearfix">
      <div class="stencil-big-edit-aux">
        <div class="form-row">
          <small class="muted">Reward:</small>
          <div class="btn-group stencil-big-reward-pick" data-toggle="buttons-radio">
            <% _.each([1,2,3], function(p) { %>
            <button class="btn <%- (p == points) ? 'active' : '' %>" data-points="<%- p %>"><%- p %> point<%- p == 1 ? '' : 's' %></button>
            <% }) %>
          </div>
        </div>

        <div class="form-row">
          <small class="muted">Tags:</small>
          <input name="tags" type="text" placeholder="Tags" data-placement="top" data-title="tags must be alphanumerical" data-animation="false" data-trigger="manual">
        </div>
      </div>

      <div class="stencil-big-edit-controls">
        <%= partial.post_edit_controls() %>
      </div>
    </div>
    <% } %>

    <div class="object-bottom-line">
      <div class="post-big-tags _editable">
        <%= partial.quest_labels(obj) %>
      </div>

      <a href="/realm/<%- realm %>/stencil/<%- _id %>" class="time-anchor">
        <em><span class="muted">Created</span></em>
        <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>">
          <%= new Date(ts * 1000).toISOString() %>
        </time><!--
   --></a>
    </div>

    <nav class="round-tabs stencil-big-tabs">
      <ul>
        <%
        _.each({
        'comments': { icon: 'comments', tooltip: 'Comments' },
        'quests': { icon: 'list-ul', tooltip: 'Quests' }
        }, function (o, t) {
        %>
        <li>
          <div data-toggle="tooltip" data-placement="top" title="<%- o.tooltip %>" data-tab="<%- t %>" class="_icon _switch-<%- t %> <%- tab == t ? '_active' : '' %>">
            <i class="icon-<%- o.icon %>"></i>
          </div>
        </li>
        <% }) %>
      </ul>
    </nav>
  </div>
</div>
