<div class="row-fluid">
  <div class="span3">
    <div class="sidebar-header">
      Stencils <span class="label label-important">beta</span>
    </div>
    <div class="well">
      <p>
      Stencils are quest ideas.<br>
      You can take any stencil as a quest, and even do it multiple times in a row when it makes sense.
      </p>
      <p>
      You don't have to choose your quest from this list, though. Coming up with unique task and creating it directly is great, too.
      </p>
      </p>
    </div>
  </div>
  <div class="span9">
    <div class="stencil-collection-sv"></div>
    <% if (currentUser) { %>
      <button class="btn btn-primary btn-large add-stencil"><i class="icon-plus"></i> New stencil</button>
    <% } %>
  </div>
</div>
