<div class="row-fluid">
  <div class="span3">
    <div class="sidebar-header">
      Stencils
    </div>
    <div class="well">
      <p>
      Stencils are quest ideas.<br>
      You can take any stencil as a quest, and even multiple times, if it makes sense.
      </p>
      <p>
      You don't have to choose your quest from this list, though. Coming up with unique task and creating it directly is completely fine, too.
      </p>
      </p>
    </div>
  </div>
  <div class="span9">
    <div class="stencil-collection-sv"></div>
    <button class="btn btn-primary add-stencil"><i class="icon-plus"></i> New stencil</button>
  </div>
</div>
