<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 stencil-page-sidebar clearfix">
      <div class="stencil-page-icon">
        <a href="/realm/<%- realm %>/stencils" class="grey-icon-link">
          <i class="icon-book"></i>
        </a>
      </div>

      <div class="stencil-page-stat">
        <% if (obj.stat) { %>
          <% _.each(stat, function (count, status) { %>
            <span class="label label-<%= status === 'open' && 'warning' %>"><%- count %> <%= status === 'closed' ? 'completed' : status %></span><br>
          <% }) %>
        <% } %>
      </div>
    </div>

    <div class="span9">
      <div class="stencil-big-sv"></div>

      <% if (currentUser) { %>
        <div>
          <% if (!myQuests.length) { %>
            <button class="btn btn-large btn-primary _take">Take this quest</button>
          <% } %>
        </div>

        <% if (myQuests.length) { %>
          <h3 class="muted">Your open quests:</h3>
          <div class="stencil-my-quests-sv"></div>
        <% } %>
      <% } %>

      <% if (otherQuests.length) { %>
        <h3 class="muted"><%- myQuests.length ? 'Other' : 'All' %> quests:</h3>
        <div class="stencil-quests-sv"></div>
      <% } %>

    </div>
  </div>
</div>
