<article class="stencil-page">

<div class="stencil-page-top-row">
  <aside class="sidebar">&nbsp;</aside>
  <div class="mainarea">
    <div class="stencil-page-icon">
      <a href="/realm/<%- realm %>/stencils" class="grey-link">
        <i class="icon-book"></i> Stencil
      </a>
    </div>

    <div class="realm-submenu-sv"></div>
  </div>
</div>

<div>
  <aside class="sidebar stencil-page-sidebar">

    <div class="stencil-page-reward">
      Reward: <%= partial.reward({ points: points, status: myStatus }) %>
    </div>

    <% if (currentUser) { %>
      <div class="stencil-page-take">
        <% if (myQuests.length) { %>
          <div class="stencil-page-my-instance">
            <a href="/realm/<%- myQuests[0].realm %>/quest/<%- myQuests[0]._id %>">See your <span class="desktop-text">open</span> quest</a>
          </div>
        <% } else { %>
          <button class="btn btn-primary _take">Take this quest<%- myStatus == 'closed' ? ' again' : '' %></button>
        <% } %>
      </div>
    <% } %>
  </aside>

  <div class="mainarea">
    <div class="stencil-big-sv"></div>
  </div>
</div>

<div class="stencil-page-sv"></div>

</article>
