<div class="well clearfix stencil-small <%- (currentUser && myQuests.length) ? 'stencil-small-my' : '' %>">

  <div class="stencil-small-reward">
    <div class="reward-medium">
      <div class="_content">
        <span class="_points"><%- points %></span>
        <span class="_points-text">point<%- (points == 1) ? '' : 's' %></span>
      </div>
    </div>
    <% if (currentUser) { %>
      <div class="stencil-small-relation">
        <% if (myQuests.length) { %>
          <a href="/realm/<%- myQuests[0].realm %>/quest/<%- myQuests[0]._id %>">Your quest</a>
        <% } else { %>
          <button class="btn btn-mini btn-primary _take">Take this quest</button>
        <% } %>
      </div>
    <% } %>
  </div>

  <div class="stencil-small-title">
    <a href="/realm/<%- realm %>/stencil/<%- _id %>"><%- name %></a>
  </div>

  <% if (obj.description) { %>
    <div class="stencil-small-description">
      <%= partial.markdown(description, realm) %>
    </div>
  <% } %>

  <div class="stencil-small-bottom-line">
    <% if (obj.stat) { %>
      <span class="stencil-small-stat">
      <% _.each(stat, function (count, status) { %>
        <span class="label label-<%= status === 'open' && 'warning' %>"><%- count %> <%= status === 'closed' ? 'completed' : status %></span>
      <% }) %>
      </span>
    <% } %>
  </div>
</div>
