<article class="well stencil-small <%- (currentUser && myQuests.length) ? 'stencil-small-my' : '' %>">

  <aside class="stencil-small-reward">
    <%= partial.reward({ points: points, status: "open" }) %>
    <% if (currentUser) { %>
      <div class="stencil-small-relation">
        <% if (myQuests.length) { %>
        <strong><a href="/realm/<%- myQuests[0].realm %>/quest/<%- myQuests[0]._id %>">Your quest</a></strong>
        <% } else { %>
          <button class="btn btn-mini btn-primary _take">Take this quest</button>
        <% } %>
      </div>
    <% } %>
  </aside>

  <header class="stencil-small-title">
    <a href="/realm/<%- realm %>/stencil/<%- _id %>"><%- name %></a>
  </header>

  <% if (obj.description) { %>
    <div class="stencil-small-description">
      <%= partial.markdown(description, realm) %>
    </div>
  <% } %>

  <footer class="stencil-small-bottom-line">
    <% if (obj.stat) { %>
      <span class="stencil-small-stat">
      <% _.each(stat, function (count, status) { %>
        <a href="/realm/<%- realm %>/stencil/<%- _id %>/quests"><span class="label label-<%= status === 'open' && 'warning' %>">
          <%- count %> <%= status === 'closed' ? 'completed' : status %>
        </span></a>
      <% }) %>
      </span>
    <% } %>

    <% if (obj.comment_count) { %>
      <a href="/realm/<%- realm %>/stencil/<%= _id %>"><span class="badge badge-info"><i class="icon-comment"></i> <%= comment_count %></span></a>
    <% } %>
  </footer>
</article>
