<section class="well realm-big">
  <% if (obj.isKeeper) { %>
    <%= partial.edit_tools() %>
  <% } %>

  <div class="realm-big-logo">
    <div class="realm-logo">
      <img src="/i/<%- id %>.png"/>
      <div class="controls-subview"></div>
    </div>
  </div>

  <div class="realm-big-title">
    <span class="_editable">
      <%- name %>
    </span>

    <% if (isKeeper) { %>
    <div class="_edit form-row control-group">
      <input class="input-large" name="name" type="text" maxlength="16" placeholder="Name is required!">
    </div>
    <% } %>
  </div>

  <nav class="realm-big-stat">
    <ul>
      <li><a href="/realm/<%- id %>/players">
        <%- obj.stat.users %>
        <span class="desktop-text">players</span>
        <span class="mobile-text"><i class="icon-group"></i>,</span>
      </a></li>
      <li><a href="/realm/<%- id %>/explore">
        <%- obj.stat.quests %>
        <span class="desktop-text">quests</span>
        <span class="mobile-text"><i class="icon-list"></i>,</span>
      </a></li>
      <li><a href="/realm/<%- id %>/stencils">
        <%- obj.stat.stencils %>
        <span class="desktop-text">stencils</span>
        <span class="mobile-text"><i class="icon-book"></i></span>
      </a></li>
    </ul>
  </nav>

  <div class="realm-big-description">
    <div class="_editable">
      <%= partial.markdown(description, id) %>
    </div>
    <% if (isKeeper) { %>
      <div class="_edit form-row">
        <div class="description-sv"></div>
      </div>
      <div class="_edit form-row realm-big-description-buttons clearfix">
        <button class="btn btn-primary save">Save</button>
        <button class="btn cancel">Cancel</button>
      </div>
    <% } %>
  </div>

  <div class="realm-big-tabs">
    <nav class="big-tabs">
      <ul>
      <%
          _.each({
            'activity': { icon: 'film', tooltip: 'Activity' },
            'stencils': { icon: 'book', tooltip: 'Stencils' },
            'quests': { icon: 'list-ul', tooltip: 'Quests' },
            'players': { icon: 'group', tooltip: 'Players' }
          }, function (o, t) {
        %>
        <li>
          <div data-toggle="tooltip" data-placement="top" title="<%- o.tooltip %>" data-tab="<%- t %>" class="_icon _switch-<%- t %> <%- tab == t ? '_active' : '' %>">
            <i class="icon-<%- o.icon %>"></i>
          </div>
        </li>
        <% }) %>
      </ul>
    </nav>
  </div>
</section>
