<div class="well realm-big clearfix">
  <% if (obj.isKeeper) { %>
    <%= partial.edit_tools() %>
  <% } %>
  <div class="realm-big-logo">
    <div class="realm-logo">
      <img src="/i/<%- id %>.png"/>
      <div class="controls-subview"></div>
    </div>
    <div class="realm-big-logo-title">
      <h3>
        <%- name %>
      </h3>
    </div>
  </div>
  <div class="realm-big-description">
    <p>
      <%= partial.markdown(description, id) %>
    </p>
  </div>
  <div class="realm-big-tabs">
    <div class="big-tabs">
      <ul>
      <%
          _.each({
            'activity': { icon: 'film', tooltip: 'Activity' },
            'stencils': { icon: 'book', tooltip: 'Stencils' },
            'quests': { icon: 'list-ul', tooltip: 'Quests' },
            'players': { icon: 'group', tooltip: 'Players' }
          }, function (o, t) {
        %>
        <li>
          <div data-toggle="tooltip" data-placement="top" title="<%- o.tooltip %>" data-tab="<%- t %>" class="_icon _switch-<%- t %> <%- tab == t ? '_active' : '' %>">
            <i class="icon-<%- o.icon %>"></i>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
