<% if (tour) { %>
<aside class="newbie-tour">
  <h2>Welcome aboard!</h2>
  <h3>
    First, follow any number of realms you're interested in.
  </h3>
  <h4>
    (You can always find this list under the "Realms" tab.)
  </h4>
</aside>
<% } %>

<aside class="sidebar">
  <header class="sidebar-header">Realms</header>
  <div class="well">
    <p>
    Questhub activity happens across multiple realms.
    </p>
    <p>
    You can participate in any number of them.
    </p>
    <p>
    Follow realms to add them to your personal <a href="/">News feed</a>.
    </p>
  </div>
</aside>

<section class="mainarea">
  <div class="realm-detail-collection-list"></div>
  <footer>
    <span class="muted"><a href="mailto:me@berekuk.ru">Drop us a line</a> if you want to add a new realm.</a></span>
  </footer>
</section>

<% if (tour) { %>
<aside class="newbie-tour">
  <h3>
    Now let's <a href="/me">take a look at your profile</a>...
  </h3>
</aside>
<% } %>
