<nav class="round-tabs <%- small ? 'round-tabs-small' : '' %>">
  <ul>
    <%
    _.each({
    'activity': { icon: 'film', tooltip: 'Activity' },
    'stencils': { icon: 'book', tooltip: 'Stencils' },
    'quests': { icon: 'list-ul', tooltip: 'Quests' },
    'players': { icon: 'group', tooltip: 'Players' }
    }, function (o, tab) {
    %>
    <li>
      <a href="<%= partial.realm_link(id, tab) %>">
        <div data-toggle="tooltip" data-placement="top" title="<%- o.tooltip %>" data-tab="<%- tab %>" class="_icon _switch-<%- tab %> <%- current_tab == tab ? '_active' : '' %>">
          <i class="icon-<%- o.icon %>"></i>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>
