.event {
    position: relative;

    .event-realm-label {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    p:last-child, ul:last-child {
        margin-bottom: 0px;
    }

    .widetext {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    > header {
        position: relative;
        font-size: 11.844px;
        color: $dark-grey;

        i {
            color: $dark-grey;
            @include breakpoint(B) {
                display: inline-block;
                position: absolute;

                left: -38px;
                top: -3px;
                font-size: 20px;
            }
        }
    }
}
.event-quest-reward {
    margin-top: 8px;
    margin-bottom: 8px;
}

.event-type-add-quest {
    @include mark($open-quest-color);
}
.event-type-add-stencil {
    @include mark($red-color);
}

@include breakpoint(B) {
    .event-interact {
        visibility: hidden;
    }
    .event:hover .event-interact {
        visibility: visible;
    }
}
