<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play Perl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/atom+xml" title="News Feed" href="http://play-perl.org/api/event/atom">

    <link href="/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/vendors/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="/vendors/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/common.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" sizes="16x16" type="image/x-icon">
    <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">

    <!-- common box for any event type -->
    <script type="text/template" id="template-event-any">
      <div>
        <div class="subview"></div>
        <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
        <hr>
      </div>
    </script>

    <script type="text/template" id="template-event-unknown">
        <em>Unknown event type. Try to refresh the page.</em>
    </script>

    <script type="text/template" id="template-event-add-quest">
        <%= partial.user({ login: object.user }) %> started a new quest: <a href="/quest/<%= object_id %>"><%- object.name %></a>.
    </script>

    <script type="text/template" id="template-event-close-quest">
        <%= partial.user({ login: object.user }) %> completed a quest: <a href="/quest/<%= object_id %>"><%- object.name %></a>.
    </script>

    <script type="text/template" id="template-event-reopen-quest">
        <%= partial.user({ login: object.user }) %> reopened a quest: <a href="/quest/<%= object_id %>"><%- object.name %></a>.
    </script>

    <script type="text/template" id="template-event-abandon-quest">
        <%= partial.user({ login: object.user }) %> abandoned a quest: <a href="/quest/<%= object_id %>"><%- object.name %></a>.
    </script>

    <script type="text/template" id="template-event-resurrect-quest">
        <%= partial.user({ login: object.user }) %> resurrected a quest: <a href="/quest/<%= object_id %>"><%- object.name %></a>.
    </script>

    <script type="text/template" id="template-event-add-user">
        <%= partial.user({ login: object.login }) %> joins Play Perl!
    </script>

    <script type="text/template" id="template-event-add-comment">
        <%= partial.user({ login: object.author }) %>
        commented on
        <%= partial.user({ login: object.quest.user }) %>'s quest
        <a href="/quest/<%= object.quest._id %>"><%- object.quest.name %></a>:
        <div class="well well-small event-comment-well">
          <%= partial.markdown(object.body) %>
        </div>
    </script>

    <!-- Partials -->
    <script type="text/template" id="partial-user">
      <% if (login) { %>
      <a href="/player/<%= login %>" class="label"><%= login + (obj.colon ? ':' : '') %></a>
      <% } %>
    </script>

    <script type="text/template" id="partial-quest-labels">
      <% if (obj.type) { %>
        <span class="label label-inverse"><%= type %></span>
      <% } %>
      <span class="label label-<%= status === 'open' && 'warning' %>"><%= status === 'closed' ? 'complete' : status %></span>
    </script>

    <script type="text/template" id="partial-edit-tools">
      <div class="pull-right mini-button-block">
        <label> <!-- label fixes the font size, even inside h2 -->
          <a href="#" class="edit"><i class="icon-pencil"></i></a>
          <a href="#" class="delete"><i class="icon-remove"></i></a>
        </label>
      </div>
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251424-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
     </script>

  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Play Perl</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="menu-item-home"><a href="/">Home</a></li>
                <li class="menu-item-event-list"><a href="/feed">News Feed</a></li>
                <li class="menu-item-user-list"><a href="/players">Players</a></li>
                <li class="menu-item-explore"><a href="/explore">Explore</a></li>
                <li class="menu-item-about"><a href="/about">About</a></li>
              </ul>
              <p class="navbar-text pull-right"></p>
              <div class="pull-right current-user-box"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-view-container container"></div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">
          <a href="https://github.com/berekuk/play-perl/issues/new">Report a bug</a>
          &nbsp; | &nbsp;
          <a href="https://github.com/berekuk/play-perl">Github</a>
          &nbsp; | &nbsp;
          <a href="http://blogs.perl.org/mt/mt-search.fcgi?blog_id=310&tag=play-perl&limit=20">Blog posts with some explanations</a>
          &nbsp; | &nbsp;
          © 2012-2013 <a href="https://metacpan.org/author/MMCLERIC">Vyacheslav Matyukhin</a> and <a href="https://github.com/berekuk/play-perl/graphs/contributors">other contributors</a>
          </span>
        </p>
      </div>
    </div>

    <!-- Placeholders for modal views -->
    <div id="user-settings"></div>
    <div id="notifications"></div>

    <!-- Mozilla recommends not to self-host persona JS code while Persona is still in beta -->
    <script src="https://login.persona.org/include.js"></script>

    <script data-main="/setup" src="/vendors/require.js"></script>

  </body>
</html>
<!--
vim: ts=2 sw=2 sts=2
-->
