<div>
<h1>Play Perl</h1>
<p>Hello! You are on the play-perl.org site</p>
<h2>Ради чего вообще это все?</h2>
<p>
  <ol>
    <li>
Помочь людям больше помогать развитию опенсорса за счет увеличения количества фана. Или просто, "больше фана от участия в опенсорсе".
    </li>
    <li>
Больше публичности и связности. Помочь людям в донесении до окружающих того, что они сделали. Увеличить количество фидбека.
    </li>
    <li>
Больше менеджмента. Стоп, это как-то неправильно звучит. Больше структуры и приоритезации.
    </li>
  </ol>
</p>