.stencil-big {
    @include mark($stencil-color);
    ._edit {
        display: none;
    }
    [name=name] {
        margin-top: 10px;
    }
    .object-bottom-line {
        margin-top: 20px;
    }
    position: relative;
}

// FIXME - copy-pasted from .realm-big-tabs
.stencil-big-tabs {
    position: absolute;
    right: 8px;
    bottom: 8px;
}
