.stencil-big {
    @include mark-big($stencil-color);
    ._edit {
        display: none;
        > small {
            // field name
            display: inline-block;
            width: 42px;
            margin-right: 3px;
            line-height: 30px;
            vertical-align: middle;
            text-align: right;
        }
    }
    [name=name] {
        margin-top: 10px;
    }
    [name=tags] {
        margin-bottom: 0;
    }
    .object-bottom-line {
        margin-top: 36px;
    }
    position: relative;
}

.stencil-feed > aside a {
    @include grey-link;
    font-size: 24px;
}

// FIXME - copy-pasted from .realm-big-tabs
.stencil-big-tabs {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.stencil-big-reward-outer {
    text-align: center;
}
.stencil-big-reward {
    display: inline-block;
    > header {
        @include bg-header;
        float: left;
        margin: 2px 0px;
        line-height: 32px;
    }
    @include clearfix;
}
.stencil-big-reward-points {
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 8px;
}
.stencil-big-reward-controls {
    float: left;
    display: table;
    height: 38px;
}
.stencil-big-reward-controls-inner {
    display: table-cell;
    vertical-align: middle;
}

.stencil-feed {
    .object-bottom-line {
        margin-top: 10px;
    }
}
