.stencil-big {
    @include mark-big($stencil-color);
    ._edit {
        display: none;
    }
    [name=name] {
        margin-top: 10px;
    }
    .object-bottom-line {
        margin-top: 36px;
    }
    position: relative;
}

.stencil-feed > aside a {
    @include grey-link;
    font-size: 24px;
}

// FIXME - copy-pasted from .realm-big-tabs
.stencil-big-tabs {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.stencil-big-reward {
    > header {
        @include bg-header;
        float: left;
        margin: 5px 0px;
        line-height: 32px;
    }
    @include clearfix;
}
.stencil-big-reward-points {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 8px;
}
.stencil-big-reward-controls {
    display: table;
    height: 44px;
}
.stencil-big-reward-controls-inner {
    display: table-cell;
    vertical-align: middle;
}

.stencil-feed {
    .object-bottom-line {
        margin-top: 10px;
    }
}
