.stencil-page-topline-layout {
    @include breakpoint(lessThanB) {
        > aside {
            display: none;
        }
    }
}

.stencil-page-topline {
    display: flex;
    justify-content: space-between;
    @include breakpoint(lessThanA) {
        justify-content: flex-end;
    }
}

.stencil-page-topline-icon {
    @include bg-header;
    margin-bottom: 0px;
    @include breakpoint(lessThanA) {
        display: none;
    }
}

// layout for -reward and -take
.stencil-page-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stencil-page-take {
        align-self: stretch;
    }

    @include breakpoint(lessThanB) {
        margin-bottom: 10px;
    }

    @include breakpoint(AtoB) {
        .stencil-page-reward {
            margin-right: 8px;
        }
        .stencil-page-take {
            align-self: center;
            margin-top: 3px;
        }
        flex-direction: row;
        justify-content: center;

    }
}

.stencil-page-reward {
    @include bg-header;
    margin: 0px;

    .reward {
        margin-left: 4px;
    }

    display: flex;
    align-items: center;
}

.stencil-page-take {
    ._take {
        width: 100%;
    }
}

.stencil-page-my-instance {
    font-weight: 200;
    font-size: 18px;
    text-align: center;

    @include breakpoint(AtoB) {
        text-align: left;
    }
}

.stencil-page-sv {
    clear: both;
}

.stencil-page-quests-stat {
    text-align: right;
    > span {
        margin-bottom: 5px;
    }
}
