.stencil-page-top-row {
    @include breakpoint(lessThanA) {
        > aside {
            display: none;
        }
    }
}
.stencil-page .realm-submenu-sv {
    float: right;
}

.stencil-page-icon {
    @include bg-header;
    margin-bottom: 0px;
    float: left;
    position: relative;
    top: -3px;
    @include breakpoint(lessThanA) {
        display: none;
    }
}

.stencil-page-sidebar {
    margin-bottom: 5px;
    @include breakpoint(AtoB) {
        text-align: center;
    }
}

.stencil-page-reward {
    @include bg-header;
    margin-bottom: 0px;
    margin-top: 3px;

    position: relative;
    .reward {
        top: -2px;
    }

    text-align: center;

    @include breakpoint(AtoB) {
        display: inline-block;
    }
}

.stencil-page-take {
    ._take {
        width: 100%;
    }
    margin-top: 3px;

    @include breakpoint(AtoB) {
        display: inline-block;
        margin-left: 10px;
        margin-top: 0;
        ._take {
            position: relative;
            top: -5px;
            width: auto;
        }
    }
}

.stencil-page-my-instance {
    font-weight: 200;
    font-size: 18px;
    text-align: center;

    @include breakpoint(AtoB) {
        text-align: left;
    }
}

.stencil-page-sv {
    clear: both;
}

.stencil-page-quests-stat {
    text-align: right;
    > span {
        margin-bottom: 5px;
    }
}
