.stencil-small {
    @include mark-big($mat);
    @include clearfix;
}
.stencil-small-my {
    @include mark-big($highlight);
}

.stencil-small-title {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 200;
}
.stencil-small-description {
    margin-bottom: 8px;
    p:last-child, ul:last-child {
        margin-bottom: 0px;
    }
}
.stencil-small-reward {
    float: right;
    position: relative;
    z-index: 3; // see https://github.com/berekuk/questhub/issues/142
    width: 89px;
    margin-left: 5px;
    text-align: center;
    .reward {
        margin-bottom: 5px;
    }
}
.stencil-small-relation {
    margin: 0 auto;
    text-align: center;
}

.stencil-small-footer {
    > div {
        text-align: center;
        margin-top: 2px;
        > :first-child {
            font-size: 12px;
            color: $dark-grey;
        }
    }
}
