.realm-detail-collection-list {
    margin-bottom: 10px;
}

.realm-detail {
    position: relative;
}

.realm-detail-logo {
    float: left;
}

.realm-detail-link h3 {
    text-align: center;
    font-size: 22px;
}

.realm-detail-description {
    clear: both;
}

@include breakpoint(B) {
    .realm-detail-description {
        margin-right: 30px;
        clear: none;
    }
    .realm-detail-logo {
        margin-right: 10px;
    }
    .realm-detail-link h3 {
        margin-top: 10px;
        font-size: 24.5px; // normal h3 size
        text-align: left;
    }
}

.realm-detail-stat {
    margin: 0 auto;
    text-align: center;

    @include breakpoint(B) {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }
    li {
        display: inline;
    }
    a {
        @include grey-link;
    }
}
