.quest-add-backdrop {
    z-index: 10;
    @include opacity(0);
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.quest-add-backdrop-fade {
    @include opacity(30);
    transition: opacity 0.2s ease;
}

.quest-add {
    z-index: 20;
    position: fixed;
    top: 45px;
    left: 5px;
    right: 5px;
    @include breakpoint(C) {
        left: 50%;
        margin-left: -450px;
        width: 900px;
    }

    padding: {
        left: 20px;
        right: 20px;
        bottom: 10px;
    }
    background-color: $mat;
    border: 1px solid darken($grey, 10%);
    @include box-shadow(0 5px 23px rgba(0, 0, 0, 0.2));
}
.quest-add-arrow {
    position: absolute;
    top: -11px;
    right: 26px;
    @include breakpoint(B) {
        right: 60px;
    }
    @include breakpoint(C) {
        right: 55px;
    }
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;

    border-bottom: 11px solid $dark-grey;

    &:after {
        content: "";
        position: absolute;
        top: 1px;
        display: block;
        margin-left: -10px;

        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-bottom: 10px solid $mat;
    }
}
.quest-add-close {
    float: right;
}

.quest-add label {
    cursor: default; // override bootstrap's "pointer" cursor style, it's confusing
}

.quest-tags-edit input {
    background-color: lighten($orange-color, 20%);
}

.quest-add-realm-list {
    li {
        display: block;
        width: 100%;
    }
}
.quest-add-realm-pic-box img {
    display: block;
    margin: 0 auto;
}
