div.quest-big-open, div.quest-big-closed, div.quest-big-abandoned, div.quest-big-unclaimed {
    position: relative;
    padding: 9px;
}

div.quest-big-open {
    @include mark($open-quest-color);
}
div.quest-big-closed {
    @include mark($closed-quest-color);
}
div.quest-big-abandoned {
    @include mark($abandoned-quest-color);
}
div.quest-big-unclaimed {
    @include mark($unclaimed-quest-color);
}

.quest-big {
    h2 {
        overflow: auto;
    }
}

.quest-feed-title {
    margin-bottom: 5px;
}

.quest-big-note-expand {
    border-bottom: 1px blue dotted;
    &:hover {
        border: none;
    }
}
.quest-big-note-outer {
    margin-bottom: 5px;
}
.quest-big-note {
    color: $dark-grey;
}
.quest-big-labels {
    display: block;
    float: right;
}
.quest-big-edit {
    display: none;
    margin-bottom: 5px;
}

.quest-big-tags {
    margin-bottom: 4px;
}
