div.quest-big-open, div.quest-big-closed, div.quest-big-abandoned, div.quest-big-unclaimed {
    position: relative;
    padding: 9px;
}

div.quest-big-open {
    @include mark($open-quest-color);
}
div.quest-big-closed {
    @include mark($closed-quest-color);
}
div.quest-big-abandoned {
    @include mark($abandoned-quest-color);
}
div.quest-big-unclaimed {
    @include mark($unclaimed-quest-color);
}

.quest-big {
    h2 {
        overflow: auto;
    }

    .object-bottom-line {
        margin-top: 20px;
    }
}
.quest-big-note {
    // TODO - dotted border? colored background? how else can we emphasize that this is an uneditable part of stencil?
}
.quest-big-labels {
    display: block;
    float: right;
}
.quest-big-edit {
    display: none;
    margin-bottom: 5px;
}

.quest-page-sidebar {

    position: relative;
    @include breakpoint(C) {
        .quest-page-reward {
            position: absolute;
            right: 130px;
            top: 0;
        }

        .quest-page-action {
            width: 120px;
            margin-left: auto;
            margin-right: 0px;

            button {
                display: block;
            }
        }

        > div.invited-list {
            margin-right: 0px;
            margin-left: auto;
            margin-top: 15px;
        }
    }

    @media (min-width: 768px) and (max-width: 979px) {
        > div {
            width: 120px; // width of an action button
            float: right;
            margin-bottom: 10px;
        }

        .quest-page-reward {
            text-align: center;
            > div {
                margin: 0 auto;
            }
        }
        .quest-page-action {

            button {
                display: block;
            }
        }
    }

    @media (max-width: 767px) {
        min-height: 80px !important;

        .quest-page-reward {
            position: absolute;
            left: 0;
            top: 0;
        }

        .quest-page-action {
            margin-left: 80px;
            vertical-align: top;
            min-height: 67px; // allow invited-list below to be a part a of normal flow
        }

        > div.invited-list {
            margin-left: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;
            clear: both;
            width: auto;

            > div {
                display: inline;
            }
            ul, li {
                display: inline;
            }
            li {
                margin-left: 5px;
            }
        }
        > div.invited-list-my {
            li {
                margin-left: 30px;
            }
        }

        @include clearfix;
    }

    @media (max-width: 595px) {
        .quest-page-action button {
            display: block;
        }
    }

    .quest-page-action {
        button {
            width: 120px;
            margin-bottom: 7px;
            text-align: left;
        }

        .invite-dialog {
            display: none;
            input {
                width: 100%;
                display: block;
                min-height: 30px;
                @include box-sizing(border-box);
            }
        }
    }

    .invited-list {
        width: 120px;

        h5 {
            font-weight: 200;
        }

        ul {
            list-style-type: none;
            text-align: left;
            margin-left: 0px;
            li {
                margin-top: 6px;
                position: relative;

                .uninvite {
                    position: absolute;
                    left: -20px;
                }
                .join {
                    position: absolute;
                    left: -70px;
                    width: 64px;
                }
            }
        }
    }
}
