@include breakpoint(C) {
    .quest-page-sidebar {
        text-align: right;
        > div {
            text-align: left;
        }
    }
    .quest-page-reward {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }

    .quest-page-action {
        display: inline-block;
        width: 120px;
        margin-left: auto;
        margin-right: 0px;

        button {
            display: block;
        }
    }

    .quest-page-invited-list {
        margin-top: 10px;
        margin-right: 0px;
        margin-left: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .quest-page-sidebar > div {
        width: 120px; // width of an action button
        float: right;
        margin-bottom: 10px;
    }

    .quest-page-reward {
        text-align: center;
        > div {
            margin: 0 auto;
        }
    }
    .quest-page-action {
        button {
            display: block;
        }
    }
}

@media (max-width: 767px) {
    .quest-page-sidebar {
        min-height: 95px !important;
        @include clearfix;
    }

    .quest-page-reward {
        float: left;
    }

    .quest-page-action {
        float: left;
        margin-left: 15px;
    }

    .quest-page-invited-list {
        margin-left: 5px;
        padding-top: 8px;
        margin-bottom: 5px;
        display: block;
        clear: both;
        width: auto;

        > div {
            display: inline;
        }
        ul, li {
            display: inline;
        }
        li {
            margin-left: 5px;
        }
    }
    .quest-page-invited-list-my {
        li {
            margin-left: 30px;
        }
    }
}

@media (max-width: 595px) {
    .quest-page-action button {
        display: block;
    }
}

.quest-page-action {
    button {
        width: 120px;
        margin-bottom: 7px;
        text-align: left;
    }

    .invite-dialog {
        display: none;
        input {
            width: 100%;
            display: block;
            min-height: 30px;
            @include box-sizing(border-box);
        }
    }
}

.quest-page-invited-list {
    width: 120px;

    ul {
        list-style-type: none;
        text-align: left;
        margin-left: 0px;
        li {
            margin-top: 6px;
            position: relative;

            .uninvite {
                position: absolute;
                left: -20px;
            }
            .join {
                position: absolute;
                left: -70px;
                width: 64px;
            }
        }
    }
}

.quest-page-reward {
    text-align: center !important;
    > .label {
        margin-top: 5px;
    }
}
