.feed-item {
    .quest-big {
        margin-bottom: 4px;
    }
    .stencil-big {
        margin-bottom: 4px;
    }
    margin-bottom: 16px;
}
.feed-item-comments {
    padding-left: 20px;
    @include breakpoint(B) {
        padding-left: 36px;
    }
}
.feed-item-expand-comments-panel {
    @include well;
    padding: 0px;
    margin-bottom: 4px;
    font-size: 12px;
    > a {
        display: block;
        line-height: 26px;
        padding-left: 8px;
        text-align: center;
        background-color: #fcfcfc;
        &:hover {
            background-color: $mat;
            text-decoration: none;
        }
    }
    [class^="icon-"] {
        color: $dark-grey;
    }
}
