<div class="row-fluid">
  <div class="span3">
    <div class="well">
      <p>
      Ideas on what to do.<br>
      (FIXME - write a real copy.)
      </p>
    </div>
  </div>
  <div class="span9">
    <div class="library-collection-sv"></div>

    <div class="well">
      <span class="label label-warning pull-right">open</span>
      <a href="/realm/perl/library/1234">Get a driving license</a>
      <div>
        <span class="muted">5 <i class="icon-user"></i></span>
      </div>
    </div>
    <div class="well clearfix">
      <span class="label label pull-right">completed 3 times</span>
      <a href="/realm/perl/library/1234">
        Post on blogs.perl.org
      </a>
      <div>
        <span class="muted">3 <i class="icon-user"></i></span>
      </div>
    </div>
  </div>
</div>
