.user-big {
    position: relative;
    @include clearfix;
}

.user-big-avatar {
    float: left;
}

.user-big-names {
    float: left;
    margin-left: 10px;
    @include breakpoint(B) {
        margin-left: 20px;
    }
    .user-big-player-login {
        font-size: 18px;
        vertical-align: middle;
        line-height: 30px;
    }
}

.user-big-actions {
    position: absolute;
    right: 15px;
    bottom: 15px;

    @include breakpoint(A) {
        position: static;
        float: left;
        margin-left: 15px;
    }
}

.user-big-tabs {
    clear: both;
    padding-top: 8px;
    @include breakpoint(A) {
        float: right;
        clear: none;
        padding-top: 0;
    }
}

.user-big-points {
    clear: both;
    float: left;

    margin: 0;
    padding-top: 10px;
    height: 36px;

    @include breakpoint(B) {
        clear: none;

        padding-top: 0px;
        margin-left: 30px;
        height: 48px;
    }

    .user-big-histogram-sv {
        display: inline-block;
        height: 100%;
    }
    > figcaption, > figcaption .reward {
        display: inline;
    }
    .user-big-points-total {
        font-size: 24px;
        @include breakpoint(B) {
            font-size: 36px;
        }
        font-weight: 200;
    }
}
