.user-big {
    position: relative;
    @include clearfix;
}

.user-big-avatar {
    float: left;
}

.user-big-names {
    float: left;
    margin-left: 10px;
    @include breakpoint(B) {
        margin-left: 20px;
    }
    .user-big-player-login {
        font-size: 18px;
        vertical-align: middle;
        line-height: 30px;
    }
}

.user-big-actions {
    position: absolute;
    right: 15px;
    bottom: 15px;

    @include breakpoint(A) {
        position: static;
        float: left;
        margin-left: 15px;
    }
}

.user-big-tabs {
    clear: both;
    padding-top: 8px;
    @include breakpoint(A) {
        float: right;
        clear: none;
        padding-top: 0;
    }
}

.user-big-points {
    margin: 0;

    height: 36px;
    @include breakpoint(lessThanA) {
    }
    @include breakpoint(lessThanB) {
        padding-top: 10px;
        clear: both;
    }
    @include breakpoint(A) {
        float: left;
    }
    @include breakpoint(B) {
        margin-left: 30px;
        height: 48px;
    }
    .user-big-points-bars {
        display: inline-block;
        height: 100%;
        // bar container
        > div {
            display: inline-block;

            height: 100%;
            width: 8px;
            position: relative;
            margin-right: 5px;

            // bar
            > div {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                background-color: $grey-color;
                &:hover {
                    background-color: $green-color;
                }
            }
        }
    }
    > figcaption {
        display: inline;
    }
    .user-big-points-total {
        font-size: 24px;
        @include breakpoint(B) {
            font-size: 36px;
        }
        font-weight: 200;
    }
}
