.user-big {
    position: relative;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.user-big-avatar {
    float: left;
}

.user-big-names {
    float: left;
    margin-left: 10px;
    @include breakpoint(B) {
        margin-left: 20px;
    }
    .user-big-player-login {
        font-size: 18px;
        vertical-align: middle;
        line-height: 30px;
    }
}

.user-big-actions {
    position: absolute;
    right: 15px;
    bottom: 15px;

    @include breakpoint(A) {
        position: static;
        float: left;
        margin-left: 15px;
    }
}

.user-big-tabs {
    clear: both;
    padding-top: 8px;
    @include breakpoint(A) {
        float: right;
        clear: none;
        padding-top: 0;
    }
}
