.user-big {
    position: relative;
    @include clearfix;
}

.user-big-avatar {
    float: left;
}

.user-big-names {
    float: left;
    margin-left: 10px;
    @include breakpoint(B) {
        margin-left: 20px;
    }
    .user-big-player-login {
        font-size: 18px;
        vertical-align: middle;
        line-height: 30px;
    }
}

.user-big-actions {
    position: absolute;
    right: 15px;
    bottom: 15px;

    @include breakpoint(A) {
        position: static;
        float: left;
        margin-left: 15px;
    }
}

.user-big-tabs {
    clear: both;
    padding-top: 8px;
    @include breakpoint(A) {
        float: right;
        clear: none;
        padding-top: 0;
    }
}

.user-big-points {
    float: left;
    margin-left: 30px;
    .user-big-points-bars {
        height: 44px;
        display: inline-block;
        > div {
            background-color: $grey-color;
            width: 8px;
            height: 30px;
            margin-right: 5px;
            display: inline-block;
            &.p0 { height: 2%; }
            &.p1 { height: 20%; }
            &.p2 { height: 40%; }
            &.p3 { height: 60%; }
            &.p4 { height: 80%; }
            &.p5 { height: 100%; }
            &:hover {
                background-color: $green-color;
            }
        }
    }
    > span {
        font-size: 36px;
        font-weight: 200;
        line-height: 40px;
    }
}
