.user-collection {
    max-width: 457px; // bootstrap's span6 on wide screen

    td.user-small-outer {
        padding: 0px;
    }
}

.user-small {
    line-height: 25px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.user-small--current {
    background: lighten($highlight, 30%);
}

.user-small__left {
    display: flex;
}
.user-small__points {
    min-width: 50px;
    text-align: center;
}

.user-small__quests {
    font-size: 12px;
}
