.user-points-histogram {
    height: 36px;
    @include breakpoint(B) {
        height: 46px;
    }
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    // bar container
    > div {
        background-color: $dark-grey;
        &:hover {
            background-color: $orange-color;
        }
        width: 5px;
        @include breakpoint(A) {
            width: 7px;
        }
        margin-right: 4px;
    }
}
