.user-points-histogram {
    height: 100%; // external container determines the height

    // bar container
    > div {
        display: inline-block;

        height: 100%;
        width: 7px;
        position: relative;
        margin-right: 4px;

        // bar
        > div {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background-color: $dark-grey;
            &:hover {
                background-color: $orange-color;
            }
        }
    }
}
