<div class="dashboard-quests">
  <nav>
    <ul class="nav nav-pills dashboard-quests-tabs">
      <li><a href="#" data-tab="open">
        Open
        <span class="desktop-text">quests</span></a></li>
      <li><a href="#" data-tab="closed">
        Completed
        <span class="desktop-text">quests</span></a></li>
      <li><a href="#" data-tab="abandoned">
        Abandoned
        <span class="desktop-text">quests</span></a></li>
    </ul>
  </nav>
  <div class="quests-subview"></div>
</div>
