<div class="dashboard-quests">
  <nav>
    <ul class="pills dashboard-quests-tabs">
      <%
      _.each({
      'open': { title: 'Open' },
      'closed': { title: 'Completed' },
      'abandoned': { title: 'Abandoned' }
      }, function (o, tab) {
      %>
      <li>
        <a href="<%= partial.user_quests_link(login, tab) %>" data-tab="<%- tab %>">
          <%- o.title %>
          <span class="desktop-text">quests</span>
        </a>
      </li>
      <% }) %>
    </ul>
  </nav>
  <div class="quests-subview"></div>
</div>
