.comments {
  margin-top: 10px;
}

.quest-type-label {
    float: right;
}

.open-quest-count-label {
    float: right;
}

.comment-delete {
    float: right;
}

.about h2 {
    font-weight: 200;
}

.about {
    padding-bottom: 100px;
}

.likes {
    margin-bottom: 8px;
}

.quest-label {
    position: relative;
    top: -5px;
}

.add-quest-field {
    margin-bottom: 10px;
}

small.hint {
    color: #999;
}

dd {
  margin-bottom: 20px;
}

time.timeago {
    color: #999;
}

.avatar-mini {
    width: 24px;
    height: 24px;
}
