.comments {
  margin-top: 10px;
}

.quest-type-label {
    float: right;
}

.open-quest-count-label {
    float: right;
}

.comment-delete {
    float: right;
}

h2 {
    font-weight: 200;
}

.about {
    padding-bottom: 100px;
}

.likes {
    margin-bottom: 8px;
}

.quest-label {
    position: relative;
    top: -5px;
}

.add-quest-field {
    margin-bottom: 10px;
}

dd {
  margin-bottom: 20px;
}

time.timeago {
    color: #999;
}

.avatar-mini {
    width: 24px;
    height: 24px;
}

.event-comment-well {
    margin-top: 5px;
    margin-bottom: 5px;
}

input.quest-edit {
    /* copied from h1 styles */
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    width: 800px;
    font-weight: 200;
}
