<!-- current user widget from right-top corner -->
<ul class="top-nav">
  <% if (obj.notifications && obj.notifications.length) { %>
  <li class="current-user-notifications-icon">
    <a href="#" class="notifications">
      <i class="icon-envelope-alt icon-large"></i>
    </a>
  </li><% } %><li class="dropdown">
    <% if (registered === 1) { %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user"></i>
        <span class="desktop-text">
          <%= login %>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li>
        <a href="#" class="settings">
          <i class="icon-wrench"></i>
          Settings
        </a>
        <a href="#" class="logout">
          <i class="icon-signout"></i>
          Logout
        </a>
        </li>
      </ul>
    <% } else { %>
      <!-- TODO: refactor to use views/user/signin.js -->
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-signin"></i>
        <span class="desktop-text">
          Sign In
        </span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/auth/twitter">with Twitter</i></a>
          <a href="#" class="login-with-persona">with Email</a>
        </li>
      </ul>
    <% } %>
  </li>
</ul>
