<!-- profile page - user and his/her quests -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="user">
      </div>
      <div class="new-quest" style="display:none">
        <button type="button" class="btn btn-primary quest-add-dialog">New quest</button>
      </div>
    </div>
    <div class="span9">
      <div class="open-quests"></div>
      <div class="closed-quests"></div>
      <div class="abandoned-quests"></div>
    </div>
  </div>
</div>
