<div>
  <script type="text/template" class="unknown">
    <div class="event-header">
      <em>Unknown event type. Try to refresh the page.</em>
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>

  <script type="text/template" class="add-quest">
    <div class="event-header">
      <i class="icon-plus"></i>
      <%= partial.user({ realm: realm, login: author }) %> started a new quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>.
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
      <span class="likes"></span>
    </div>
  </script>

  <script type="text/template" class="close-quest">
    <div class="event-header">
      <i class="icon-check"></i>
      <%= partial.user({ realm: realm, login: author }) %> completed a quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>.
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
      <span class="likes"></span>
    </div>
  </script>

  <script type="text/template" class="invite-quest">
    <div class="event-header">
      <i class="icon-group"></i>
      <%= partial.user({ realm: realm, login: author }) %> invited <%= partial.user({ realm: realm, login: invitee }) %> to work a quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>.
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>

  <script type="text/template" class="reopen-quest">
    <div class="event-header">
      <i class="icon-backward"></i>
      <%= partial.user({ realm: realm, login: author }) %> reopened a quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>.
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>

  <script type="text/template" class="abandon-quest">
    <div class="event-header">
      <i class="icon-eject"></i>
      <%= partial.user({ realm: realm, login: author }) %> abandoned a quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>.
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>

  <script type="text/template" class="resurrect-quest">
    <div class="event-header">
      <i class="icon-play"></i>
      <%= partial.user({ realm: realm, login: author }) %> resurrected a quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>.
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>

  <script type="text/template" class="add-user">
    <div class="event-header">
      <i class="icon-user"></i>
      <%= partial.user({ realm: realm, login: author }) %> joins <%= _.find(partial.settings.realms, function (r) { return (r.id == realm) ? r : undefined }).name %>!
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>

  <script type="text/template" class="add-comment">
    <div class="event-header">
      <i class="icon-comment"></i>
      <%= partial.user({ realm: realm, login: author }) %>
      commented on
      <% if (quest.team && quest.team.length > 0) { %>
        <%= partial.user({ realm: realm, login: _.first(quest.team) }) %>'s
      <% } else { %>
        a
      <% } %>
      quest:
    </div>
    <div class="event-quest-title">
      <%= partial.quest_link(quest) %>
    </div>
    <div class="well well-small event-comment-well comment-content">
      <%= partial.markdown(comment.body, realm) %>
    </div>
    <div class="object-bottom-line">
      <time class="timeago" datetime="<%= new Date(ts * 1000).toISOString() %>"><%= new Date(ts * 1000).toISOString() %></time>
    </div>
  </script>
</div>
