<%= partial.likes({ likes: list, meGusta: meGusta }) %>
<% if (currentUser && !my) { %>
  <span class="like-button">
    <% if (meGusta) { %>
      <a class="desktop-inline-block btn btn-mini pull-self" href="#">Unlike</a>
      <a class="mobile-inline-block mobile-btn-mini pull-self" href="#">Unlike</a>
    <% } else { %>
      <a class="desktop-inline-block btn btn-mini btn-success push-self" href="#">Like</a>
      <a class="mobile-inline-block mobile-btn-mini push-self" href="#">Like</a>
    <% } %>
  </span>
<% } %>
