<div>
  <!-- avoiding extra spaces - we need to put an apostrophe after the user's badge sometimes -->
  <script type="text/template" class="user"><% if (login) { %><a href="/<%- obj.realm ? (obj.realm + '/') : '' %>player/<%= login %>" class="user-link"><%= login + (obj.colon ? ':' : '') %></a><% } %></script>

  <script type="text/template" class="quest-labels">
    <span class="quest-tags">
    <% if (obj.tags) { %>
      <% _.each(obj.tags, function (tag) { %>
        <% var isTime = (tag.match(/^\d+[mhdw]$/)); %>
        <a href="/<%- realm %>/explore/latest/tag/<%= tag %>" class="tag <%= (isTime ? 'tag-time' : '') %>">
          <% if (isTime) { %>
            <i class="icon-time"></i>
          <% } %>
          <%= tag %>
        </a>
      <% }) %>
    <% } %>
    <% if (obj.showStatus) { %>
    <span class="label label-<%= status === 'open' && 'warning' %>"><%= status === 'closed' ? 'complete' : status %></span>
    <% } %>
    </span>
  </script>

  <script type="text/template" class="edit-tools">
    <div class="pull-right">
      <label> <!-- label fixes the font size, even inside h2 -->
        <a href="#" class="edit mini-button"><i class="icon-pencil"></i></a>
        <a href="#" class="delete mini-button"><i class="icon-remove"></i></a>
      </label>
    </div>
  </script>

  <script type="text/template" class="quest-link">
    <a href="/<%- realm %>/quest/<%- _id %>"><%- name %></a></script>

  <script type="text/template" class="likes">
    <% if (obj.likes && likes.length) { %>
      <span class="badge badge-success" data-toggle="tooltip" title="<%= likes.slice(0, 10).join(', ') %><%= (likes.length <= 10) ? '' : ' and ' + (likes.length - 10) + ' more' %>">
        <i class="icon-thumbs-up"></i> <%= likes.length %>
      </span>
    <% } %>
  </script>

  <script type="text/template" class="watchers">
    <% if (obj.watchers && watchers.length) { %>
      <span class="badge badge-warning" data-toggle="tooltip" title="<%= watchers.slice(0, 10).join(', ') %><%= (watchers.length <= 10) ? '' : ' and ' + (watchers.length - 10) + ' more' %>">
        <i class="icon-eye-open"></i> <%= watchers.length %>
      </span>
    <% } %>
  </script>
</div>
