<div>
  <div id="addQuest" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add a quest</h3>
    </div>
    <div class="modal-body modal-quest-add">
      <div class="row-fluid add-quest-field">
        <label><small class="muted">Write a short description of the task here. You can add details later in the comments.</small></label>
        <input name="name" type="text" class="span12 quest-edit">
      </div>
      <div class="row-fluid add-quest-field">
        <div class="quest-tags-edit control-group">
          <label><small class="muted">Tags are optional. Enter them comma-separated here, for example: "bug,dancer"</small></label>
          <input name="tags" type="text" data-placement="top" data-title="tags must be alphanumerical" data-animation="false" data-trigger="manual" data-container="#addQuest">
          <button class="btn btn-primary quest-add pull-right">Go!</button>
        </div>
      </div>
    </div>
  </div>
</div>
